<div class="c-action-bar <%= local_assigns[:wide] ? '-wide' : '' %>">
  <div class="wrapper">
    <%= link_to 'Cancel', management_site_site_pages_path(@site.slug), class: 'c-button -outline -dark-text' %>
    <div>
      <% unless local_assigns[:no_continue] %>
        <%= f.button Management::PageStepsController::CONTINUE, value: Management::PageStepsController::CONTINUE, type: 'submit', class: 'c-button js-submit' + ((@page.id || local_assigns[:always_save]) ? ' -outline -dark-text' : '') %>
      <% end %>
      <% if (@page.id || local_assigns[:always_save]) && (local_assigns[:never_save] != true) %>
        <%= f.button Management::PageStepsController::SAVE, value: Management::PageStepsController::SAVE, type: 'submit', class: 'c-button js-submit' %>
      <% end %>
      <% if local_assigns[:publish] %>
        <%= f.button Management::PageStepsController::PUBLISH, value: Management::PageStepsController::PUBLISH, type: 'submit', class: 'c-button' %>
    <% end %>
    </div>
  </div>
</div>
