<%= render partial: 'header'%>
<%= render partial: 'shared/navigation_header', locals: {form_steps: @page.form_steps, id: @page.id, current_step: step} %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>

<h1>SELECT COLUMNS</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet velit ante, ornare pretium sapien venenatis vel. Mauris nec nisi sit amet ex commodo sodales eget placerat metus.</p>
<%= form_for @page, url: wizard_path, method: :put do |f| %>
    <% @fields.each do |field|%>
        <fieldset>
          <%= field.name %>
          <%= check_box_tag "page[dataset_setting][visible_fields][]", field.name %>
        </fieldset>
    <% end %>
    <%= render partial: 'footer', locals: {f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>

