<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Select columns</h1>
        <p>Select the columns you want to use for the graphs and the map</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', \
  locals: {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <div class="l-page-creation -columns">
    <div class="wrapper">
      <div class="c-cards-list">
        <% @fields.each do |field|%>
          <div class="card -single-data">
            <label for="column-<%= field[:name] %>"><%= field[:name] %></label>
            <%= check_box_tag "site_page[dataset_setting][visible_fields][]",
                              field[:name], @dataset_setting.get_columns_visible.include?(field[:name]),
                              id: 'column-' + field[:name],
                              disabled: @dataset_setting.get_columns_changeable.include?(field[:name]) ||
                                          @dataset_setting.get_legend_hash.map {|k, v| v if %w[lat long country region].include?(k)}.include?(field[:name])%>
            <div class="content">
              <h3><%= field[:name] %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'footer', locals: {f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>

<%= console if Rails.env.development? %>
