<%= javascript_pack_tag 'application' %>

<% content_for :extended_header do %>
  <!--suppress ALL -->
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Columns</h1>
        <p>Choose which columns you want to hide from the dashboard.</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, resource: @page, current_step: step, step_names: @steps_names, \
  nvalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= Gon::Base.render_data %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <div class="l-page-creation -title">
    <div class="wrapper">
      <%= render partial: 'shared/errors', locals: { resource: @page } %>
      <%= f.hidden_field :content_type %>
      <%= react_component('ManagementDashboardColumnsPage', {
        datasetId: @dashboard_setting.dataset_id,
        selectedFields: @dashboard_setting.columns.blank? ? [] : @dashboard_setting.columns.split(',')
      } ) %>
    </div>
  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, wide: true } %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page} %>

