<%= javascript_pack_tag 'application' %>

<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Group confirmation</h1>
        <p>Save the data of the group</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, resource: @page, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for @page, url: wizard_path, method: :put, html: {id: 'submit_form'} do |f| %>
  <div class="l-page-creation -title">
    <div class="wrapper">
      <div class="c-inputs-container">
        <div class="container -big">
          <%= f.label :name, 'Group title' %>
          <%= f.text_field :name, placeholder: 'My group' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: {f: f, always_save: true, continue: false, publish: true} %>
<% end %>

<%= render partial: 'shared/errors', locals: { resource: @page } %>
