<%= render partial: 'shared/navigation_header', locals: {form_steps: form_steps, id: @page.id, current_step: step} %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>

<h1>CREATE AN INTRODUCTION</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet velit ante, ornare pretium sapien venenatis vel. Mauris nec nisi sit amet ex commodo sodales eget placerat metus.</p>
<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <div>
    <h1>Title</h1>
    <%= f.text_field :name, placeholder: 'Choose the title'%>
    <h2>Description</h2>
    <%= f.text_area :description %>
  </div>
  <%= render partial: 'footer', locals: {f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>
