<%= javascript_pack_tag 'application' %>

<% content_for :extended_header do %>
  <!--suppress ALL -->
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Dashboard Preview</h1>
        <p>Add elements to build your dashboard</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  nvalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= Gon::Base.render_data %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <div class="l-page-creation -wysiwyg">

    <%= react_component('DashboardPreviewPage', {
      page: @page,
      widgets: @widgets
    } ) %>
    <%= f.hidden_field :content %>

  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, wide: true } %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page} %>

