<%= render partial: 'header'%>
<%= render partial: 'shared/errors', locals: { resource: @page } %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
    <% @dataset_setting.columns_visible.split(' ').each do |vf|%>
        <% field = @fields.find_by(name: vf) %>
        <fieldset>
          <table>
            <tr>
              <td><%= vf %></td>
              <% if field.type == ''%>
              <td>FROM OPTION</td>
              <td>TO OPTION</td>
              <td>Visible checkbox</td>
              <% end %>
            </tr>
          </table>
        </fieldset>

    <% end %>
    <%= render partial: 'footer', locals: {f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>


<%= console if Rails.env.development? %>
