<% content_for :extended_header do %>
    <div class="c-extended-header -high">
      <div class="wrapper">
        <div class="description">
          <h1>External link</h1>
          <p>Please give the link the name to appear in the menu.</p>
        </div>
        <div></div>
      </div>
    </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: {form_steps: form_steps, id: @page.id, current_step: step} %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>

<%= form_for(@page, url: wizard_path, method: :put, :html => {:class => 'js-form'}) do |f| %>
  <%# TODO: Remove this and use shared errors%>
  <div class="l-page-creation -link">
      <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(site_page.errors.count, "error") %> prohibited this site_page from being saved:</h2>

            <ul>
              <% page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :content_type %>

      <div class="wrapper">
        <div class="c-fieldset">
          <%= f.text_field :name, placeholder: 'Link\'s name', id: 'name' %>
          <%= f.label 'Link\'s name', for: 'name' %>
        </div>
        <%= f.fields_for :content, OpenStruct.new(f.object.content) do |ff| %>
          <div class="c-fieldset">
            <%= ff.text_field :url, placeholder: 'URL', id: 'url' %>
            <%= ff.label 'URL', for: 'url' %>
          </div>
          <div class="c-checkbox">
            <%= ff.check_box :target_blank, id: 'target_blank' %>
            <%= ff.label 'Open in separate tab', for: 'target_blank' %>
          </div>
        <% end %>
      </div>
  </div>
  <%= render partial: 'footer', locals: {f: f} %>
<% end %>
