<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Map</h1>
        <p>Update this JSON to update the map's look and features.</p>
      </div>
      <div></div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, resource: @page, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for(@page, url: wizard_path, method: :put, :html => {:class => 'js-form'}) do |f| %>
  <div class="l-page-creation -map">
    <div class="wrapper">

        <%= f.fields_for :content, OpenStruct.new(@page.content) do |ff| %>
          <div class="c-inputs-container -large">
            <div class="container">
              <label for="version">Version</label>
              <div class="c-select -small">
                <%= ff.select 'version', MapVersion.order(:position).pluck(:version), {}, class: 'js-version' %>
              </div>
            </div>
          </div>

          <div class="c-inputs-container -large">
            <%= render partial: 'management/site_pages/map/base', locals: { form: ff } %>
          </div>

          <div class="c-inputs-container -large">
            <%= render partial: 'management/site_pages/map/language', locals: { form: ff } %>
          </div>

          <div class="c-inputs-container -large">
            <%= render partial: 'management/site_pages/map/tab', locals: { form: ff } %>
          </div>

          <div class="c-inputs-container -large">
            <%= render partial: 'management/site_pages/map/layer', locals: { form: ff } %>
          </div>

          <div class="c-inputs-container -large">
            <%= render partial: 'management/site_pages/map/analysis', locals: { form: ff } %>
          </div>

          <div class="c-inputs-container -large">
            <%= render partial: 'management/site_pages/map/layer_panel', locals: { form: ff } %>
          </div>

          <div class="c-inputs-container -large">
            <%= render partial: 'management/site_pages/map/others_panel', locals: { form: ff } %>
          </div>
        <% end %>

    </div>
  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, no_continue: true, always_save: true, publish: !@page.enabled} %>
  <%= render partial: 'shared/errors', locals: { resource: @page } %>
<% end %>
