<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<div class="c-content">
  <div class="wrapper">
    <div class="js-content"></div>
    <input type="hidden" class="js-json-content" value="<%= OpenStruct.new(@page.content).json unless @page.content.blank? || OpenStruct.new(@page.content).json.blank? %>" />
  </div>
</div>

<%= Gon::Base.render_data %>
<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <%= render partial: 'management/steps_shared/finish_footer', locals: {f: f} %>
<% end %>

<script type="text/javascript">
  window.route = 'OpenContent';
</script>
