<%= javascript_pack_tag 'application' %>

<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <% if @page.content_type == 3 %>
        <div class="description">
          <h1>Homepage Content</h1>
          <p>Write the content of your homepage.</p>
        </div>
      <% else %>
        <div class="description">
          <h1>Page Content</h1>
          <p>Write the content of your page.</p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for(@page, url: wizard_path, method: :put, :html => { :class => 'js-form' }) do |f| %>
  <div class="l-page-creation -wysiwyg">

      <% if params['migration'] == "1" %>
        <%= react_component('MigrateOldHomepage', {
          page: @page,
          widgets: @widgets
        } ) %>
        <%= f.hidden_field :content_type, value: 9 %>
      <% else %>
       <%= f.hidden_field :content_type %>
      <% end %>

      <div class="wrapper">
        <div class="c-wysiwyg">

        <% if @page.content.instance_of?(String) %>
          <div class="js-content">
            <% unless params[:page_id] %>
              <p><em>Write here the content of the page.</em></p>
            <% end %>
          </div>
          <%= f.hidden_field :content, class: 'js-json-content', :value => @page.content %>
        <% else %>

            <%= f.fields_for :content, OpenStruct.new(@page.content) do |ff| %>
              <div class="js-content">
                <% unless params[:page_id] %>
                  <p><em>Write here the content of the page.</em></p>
                <% end %>
              </div>
              <% if params['migration'] == "1" %>
                <%= f.hidden_field :content, class: 'js-json-content' %>
              <% else %>
                <%= ff.hidden_field :json, class: 'js-json-content' %>
              <% end %>

            <% end %>

        <% end %>
        </div>
      </div>
  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, no_continue: true, always_save: true, publish: !@page.enabled} %>
  <%= render partial: 'shared/errors', locals: { resource: @page } %>
<% end %>
