<% content_for :extended_header do %>
  <div class="c-extended-header -high">
    <div class="wrapper">
      <div class="description">
        <h1>Open Content</h1>
        <p>Fill in the page's title, description and URI and start writing its content.</p>
      </div>
      <div></div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for(@page, url: wizard_path, method: :put, :html => { :class => 'js-form' }) do |f| %>
  <div class="l-page-creation -wysiwyg">
      <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@page.errors.count, "error") %> prohibited this site_page from being saved:</h2>

            <ul>
              <% @page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :content_type %>

      <div class="wrapper">
        <div class="c-wysiwyg">
          <%= f.fields_for :content, OpenStruct.new(@page.content) do |ff| %>
            <div class="js-content">
              <% unless params[:page_id] %>
                <h1>Title of the article</h1>
                <div class="-intro">
                  Short description
                </div>
                <p>
                  Eligendi natus et delectus. Aliquid iure inventore officia ipsam est doloremque. Ab omnis qui quod. Vel voluptatibus molestiae velit omnis.
                  <br/>
                  Quisquam et a sed et quo. Voluptatibus architecto ut quis. Perferendis quia alias molestiae. Et culpa sed et reiciendis sunt. Incidunt vel in saepe in rerum ea aut.
                </p>
              <% end %>
            </div>
            <%= ff.hidden_field :json, class: 'js-json-content' %>
          <% end %>
        </div>
      </div>
  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, no_continue: true, always_save: true, publish: !@page.enabled} %>
  <%= render partial: 'shared/errors', locals: { resource: @page } %>
<% end %>
