<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Page Content</h1>
        <p>Write the content of your page.</p>
      </div>
      <div></div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>
<%= Gon::Base.render_data %>


<%= form_for(@page, url: wizard_path, method: :put, :html => { :class => 'js-form' }) do |f| %>
  <div class="l-page-creation -wysiwyg">
      <%= f.hidden_field :content_type %>

      <div class="wrapper">
        <div class="c-wysiwyg">
          <%= f.fields_for :content, OpenStruct.new(@page.content) do |ff| %>
            <div class="js-content">
              <% unless params[:page_id] %>
                <p><em>Write here the content of the page.</em></p>
              <% end %>
            </div>
            <%= ff.hidden_field :json, class: 'js-json-content' %>
          <% end %>
        </div>
      </div>
  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, no_continue: true, always_save: true, publish: !@page.enabled} %>
  <%= render partial: 'shared/errors', locals: { resource: @page } %>
<% end %>
