<% content_for :extended_header do %>
  <div class="c-extended-header -high">
    <div class="wrapper">
      <div class="description">
        <h1>Open Content</h1>
        <p>Fill in the page's title, description and URI and start writing its content.</p>
      </div>
      <div></div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for(@page, url: wizard_path, method: :put, :html => { :class => 'js-form' }) do |f| %>
  <div class="l-page-creation -wysiwyg">
      <% if @page.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@page.errors.count, "error") %> prohibited this site_page from being saved:</h2>

            <ul>
              <% @page.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :content_type %>

      <div class="wrapper">
        <div class="c-wysiwyg">
          <%= f.fields_for :content, OpenStruct.new(@page.content) do |ff| %>
              <%= ff.hidden_field :body, class: 'js-content' %>
              <%= ff.text_area :json, class: 'js-content-json' %>
          <% end %>
        </div>
      </div>
  </div>

  <%= render partial: 'footer', locals: {f: f} %>
  <%= render partial: 'shared/errors', locals: { resource: @page } %>
<% end %>
