<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Choose the position</h1>
        <p>Drag the green box to the place you want your new page to be</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<div class="l-page-creation -position">
  <div class="wrapper">
    <div class="js-tree">
    </div>
  </div>
</div>

<%= form_for(@page, url: wizard_path, method: :put, html: { class: 'js-form'}) do |f| %>
  <%= f.hidden_field :parent_id, class: 'js-parent_id' %>
  <%= f.hidden_field :position, class: 'js-position' %>
  <%= render partial: 'footer', locals: {f: f} %>
<% end %>

<%= render partial: 'shared/errors', locals: { resource: @page } %>
