<%= javascript_pack_tag 'application' %>

<% content_for :extended_header do %>
    <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Layout preview</h1>
        <p>Add some elements to build your dashboard.</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, resource: @page, current_step: step, step_names: @steps_names, \
  nvalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= Gon::Base.render_data %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <input type="hidden" type="text" id="widgets-settings" name="site_page[dataset_setting][widgets]" value="" class="js-widgets-input" />

  <div class="l-page-creation -dashboard-preview">
    <%= react_component('EditDashboardPage', {
      dataset: @dashboard_setting.dataset_id,
      widget: @dashboard_setting.widget_id,
      topContent: @dashboard_setting.content_top,
      bottomContent: @dashboard_setting.content_bottom,
      hiddenFields: @dashboard_setting.columns.blank? ? [] : @dashboard_setting.columns.split(',')
    }) %>
  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, always_save: true, no_continue: true, wide: true } %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page} %>

