<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Layout preview</h1>
        <p>Please select the default charts and the map's zoom and position</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  nvalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <input type="hidden" type="text" name="site_page[dataset_setting][widgets]" value="" class="js-widgets-input" />

  <div class="l-page-creation -dashboard-preview">
    <div class="l-analysis-dashboard">
      <div class="bookmarks">
        <div class="wrapper">
          <div class="c-dashboard-bookmarks">
            <h3>Bookmarks:</h3>
            <ul class="bookmarks">
              <li class="js-bookmark" tabindex="0">
                <span class="js-name">Bookmark #1</span>
                <div>
                  <button type="button" class="apply js-apply" title="Apply bookmark" aria-label="Apply bookmark">Bookmark #1</button>
                  <div class="floating-buttons">
                    <button type="button" class="-edit js-edit" title="Edit bookmark name">Edit bookmark name<svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path d="M11.279 0l3.711 3.711-9.278 9.278-3.711-3.71L11.279 0zM1.537 9.742l3.711 3.711-4.392.682.681-4.393z" fill="#FFF" fill-rule="evenodd"/></svg></button>
                    <button type="button" class="-delete js-delete" title="Delete bookmark">Delete bookmark<svg width="10" height="14" viewBox="0 0 10 14" xmlns="http://www.w3.org/2000/svg"><path d="M7 1V0H3v1H0v2h10V1H7zM1 14h8V4H1v10z" fill="#555" fill-rule="evenodd"/></svg></button>
                  </div>
                </div>
              </li>
              <li class="js-bookmark" tabindex="0">
                <span class="js-name">Bookmark #2</span>
                <div>
                  <button type="button" class="apply js-apply" title="Apply bookmark" aria-label="Apply bookmark">Bookmark #2</button>
                  <div class="floating-buttons">
                    <button type="button" class="-edit js-edit" title="Edit bookmark name">Edit bookmark name<svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><path d="M11.279 0l3.711 3.711-9.278 9.278-3.711-3.71L11.279 0zM1.537 9.742l3.711 3.711-4.392.682.681-4.393z" fill="#FFF" fill-rule="evenodd"/></svg></button>
                    <button type="button" class="-delete js-delete" title="Delete bookmark">Delete bookmark<svg width="10" height="14" viewBox="0 0 10 14" xmlns="http://www.w3.org/2000/svg"><path d="M7 1V0H3v1H0v2h10V1H7zM1 14h8V4H1v10z" fill="#555" fill-rule="evenodd"/></svg></button>
                  </div>
                </div>
              </li>
              <li class="add-button">
                <button type="button" class="js-add-bookmark">Create bookmark</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="description">
          <% if @page.description.length > 200 %>
            <%= @page.description[0, 200].strip + '…' %><br/>
            <button type="button" class="js-read-more">Read more</button>
            <div class="full-description js-description">
              <%= @page.description %>
            </div>
          <% else %>
            <%= @page.description %>
          <% end %>
        </div>
        <div class="filters">
          <% @analysis_user_filters.each do |filter| %>
            <div class="c-select -small">
              <select aria-label="Filter by <%= filter %>">
                <option value="" selected="selected">Filter by <%= filter %></option>
              </select>
            </div>
          <% end %>
        </div>

        <div class="widgets">
          <div class="large-widget js-widget-1"></div>
          <div class="widget js-widget-2"></div>
          <div class="widget js-widget-3"></div>
        </div>

        <hr/>
        <div class="table js-table"></div>
      </div>
    </div>
  </div>

  <%= render partial: 'management/steps_shared/footer', locals: {f: f, always_save: true, no_continue: true, wide: true } %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @page} %>
