<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Page title</h1>
        <p>Choose a title, write a small description for yourself and for the search engines and type the URI</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <div class="l-page-creation -title">
    <div class="wrapper">
      <div class="c-inputs-container">
        <div class="container -big">
          <%= f.label :name, 'Page title' %>
          <%= f.text_field :name, placeholder: 'My page' %>
        </div>
        <% unless @page.content_type == ContentType::HOMEPAGE %>
          <div class="container">
            <%= f.label :description %>
            <%= f.text_area :description, placeholder: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %>
          </div>
          <div class="container">
            <%= f.label :uri %>
            <%= f.text_field :uri, placeholder: 'my-page', :readonly => @page.content_type == ContentType::STATIC_CONTENT %>
          </div>
        <% end %>
        <% unless @page.content_type == ContentType::HOMEPAGE or @page.content_type == ContentType::STATIC_CONTENT %>
          <footer>
            <div class="c-checkbox">
              <%= f.check_box :show_on_menu %>
              <%= f.label :show_on_menu, 'Show on navigation bar' %>
            </div>
          </footer>
        <%end %>
      </div>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: {f: f} %>
<% end %>

<%= javascript_pack_tag 'application' %>
<%= react_component('EditDashboardPage', {
  page: @page
} ) %>


<%= render partial: 'shared/errors', locals: { resource: @page } %>
