<%= javascript_pack_tag 'application' %>

<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Page title</h1>
        <p>Choose a title, write a small description for yourself and for the search engines and type the URI</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <div class="l-page-creation -title">
    <div class="wrapper">
      <div class="c-inputs-container">
        <div class="container -big">
          <%= f.label :name, 'Page title' %>
          <%= f.text_field :name, placeholder: 'My page' %>
        </div>
          <div class="container">
            <%= f.label :description %>
            <%= f.text_area :description, placeholder: 'Add your description here' %>
          </div>
        <% unless [ContentType::HOMEPAGE].include?(@page.content_type) %>
          <div class="container">
            <%= f.label :uri %>
            <%= f.text_field :uri, placeholder: 'my-page', :readonly => @page.content_type == ContentType::STATIC_CONTENT %>
          </div>
        <% end %>
        <% unless [ContentType::HOMEPAGE, ContentType::TAG_SEARCHING].include?(@page.content_type) %>
          <div class="container">
            <%= f.label :tags %>
            <%= f.text_field :tags_attributes, placeholder: 'tags', value: f.object.tags.pluck(:value).join(' ') %>
          </div>
        <% end %>
        <% unless [ContentType::HOMEPAGE, ContentType::TAG_SEARCHING].include?(@page.content_type) %>
          <div class="container">
            <%= f.label :thumbnail, value: 'Change thumbnail', for: 'thumbnail', tabindex: '0' %>
            <%= f.file_field :thumbnail, id: 'thumbnail', accept: 'image/*', 'data-type': 'image', class: 'js-data-path', placeholder: 'Select a file' %>

            <% if !@page.thumbnail.nil? && @page.thumbnail_file_name %>
              <div class="preview js-preview">
                <%= image_tag @page.thumbnail.url, alt: 'Current thumbnail' %>
              </div>
            <% end %>
          </div>

          <div class="container">
            <%= f.label :cover_image, value: 'Change cover image', for: 'cover_image', tabindex: '0' %>
            <%= f.file_field :cover_image, id: 'cover_image', accept: 'image/*', 'data-type': 'image', class: 'js-data-path', placeholder: 'Select a file' %>

            <% if !@page.cover_image.nil? && @page.cover_image_file_name %>
              <div class="preview js-preview">
                <%= image_tag @page.cover_image.url, alt: 'Current cover image' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

        <% unless @page.content_type == ContentType::HOMEPAGE or @page.content_type == ContentType::STATIC_CONTENT %>
          <footer>
            <div class="c-checkbox">
              <%= f.check_box :show_on_menu %>
              <%= f.label :show_on_menu, 'Show on navigation bar' %>
            </div>
          </footer>
        <% end %>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: {f: f} %>
<% end %>

<%= render partial: 'shared/errors', locals: { resource: @page } %>
