<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <h1>Map version</h1>
    </div>
  </div>
<% end %>

<%= form_for([:admin, @map_version]) do |f| %>

  <div class="l-site-creation -name">
    <div class="wrapper">
      <div class="c-inputs-container js-urls">
        <div class="container -big">

          <fieldset class="form-group row">
            <%= f.label :version, class: 'col-sm-2 form-control-label' %>
            <div class="col-sm-10"><%= f.text_field :version, class: 'form-control' %></div>
          </fieldset>

          <fieldset class="form-group row">
            <%= f.label :position, class: 'col-sm-2 form-control-label' %>
            <div class="col-sm-10"><%= f.number_field :position, class: 'form-control' %></div>
          </fieldset>

          <fieldset class="form-group row">
            <%= f.label :description, class: 'col-sm-2 form-control-label' %>
            <div class="col-sm-10"><%= f.text_field :description, class: 'form-control' %></div>
          </fieldset>

        </div>
      </div>
    </div>
  </div>

  <div class="c-action-bar">
    <div class="wrapper">
      <%= link_to 'Cancel', admin_map_versions_path, class: 'c-button -outline -dark-text js-cancel' %>
      <div>
        <%= f.button 'SAVE', value: 'SAVE', type: 'submit', method: :put, class: 'c-button' %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/errors', locals: { resource: @map_version } %>
