<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <h1>Map version</h1>
    </div>
  </div>
<% end %>

<%= form_for([:admin, @map_version]) do |f| %>

  <div class="l-site-creation -name">
    <div class="wrapper">
      <div class="c-inputs-container js-urls">
        <div class="container -big">
            <%= f.label :version %>
            <%= f.text_field :version, placeholder: '1.0' %>
        </div>

        <div class="container -big">
          <%= f.label :position %>
          <%= f.number_field :position %>
        </div>


        <div class="container -big">
          <%= f.label :description %>
          <%= f.text_field :description, placeholder: 'description' %>
        </div>


        <div class="container">
          <%= f.label :html %>
          <%= f.text_area :html, placeholder: 'Custom map html' %>
        </div>

        <div class="container">
          <%= f.label :default_settings %>
          <%= f.text_area :default_settings, placeholder: 'Default settings' %>
        </div>

      </div>
    </div>
  </div>

  <div class="c-action-bar">
    <div class="wrapper">
      <%= link_to 'Cancel', admin_map_versions_path, class: 'c-button -outline -dark-text' %>
      <div>
        <%= f.button 'SAVE', value: 'SAVE', type: 'submit', method: :put, class: 'c-button' %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/errors', locals: { resource: @map_version } %>
