<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <h1><%= @site.name %></h1>
      <ul class="action-buttons">
        <li><%= link_to 'New page', new_management_site_site_page_path, class: 'c-button -outline' %></li>
        <% if @url.present? %><li><a href="<%= @url %>" class="c-button">Go to site</a></li><% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="js-tabs"></div>
<div class="wrapper">
  <div class="js-tree"></div>

  <%= include_gon %>

  <%= link_to 'Save', '#', class: 'btn btn-primary js-submit', data: { confirm: 'Are you sure you want to save the structure?'} %>
</div>

<%= console if Rails.env.development? %>
