<%= render partial: 'shared/errors', locals: { resource: @site } %>
<h1>Site Users</h1>
<%= form_for [:admin, @site] do |f| %>
    <%= f.hidden_field :step, value: '3' %>
    <% User.all.each do |user| %>
        <%= check_box_tag "site[user_ids][]", user.id, f.object.users.include?(user) %>
        <%= user.name %>
    <% end %>
    <%= render partial: 'admin/sites/footer', locals: { f: f , submit_text: 'CREATE', home: false} %>
<% end %>

<%= console %>
