<%= form_for([:admin, route]) do |f| %>
    <% if route.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

          <ul>
            <% route.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="form-group row">
      <%= f.label :site_id, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :site_id, Site.all, :id, :name, {}, {:class => 'form-control'} %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :host, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :host, class: 'form-control' %></div>
    </fieldset>

    <fieldset class="form-group row">
      <%= f.label :path, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :path, class: 'form-control' %></div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Show', admin_route_path(route), class: 'btn btn-secondary' unless route.id.nil? %>
        <%= link_to 'Back', admin_routes_path, class: 'btn btn-secondary' %>
      </div>
    </div>
<% end %>
