<%= form_for([:admin, route], :html => { :class =>'c-form-basic' }) do |f| %>
    <% if route.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

          <ul>
            <% route.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="container-input">
      <%= f.label :site_id, class: '' %>
      <div class="container-select">
        <%= f.collection_select :site_id, Site.all, :id, :name, {}, {:class => 'c-input -select'} %>
      </div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :host, class: '' %>
      <div class="col-sm-10"><%= f.text_field :host, class: 'c-input' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :path, class: '' %>
      <div class="col-sm-10"><%= f.text_field :path, class: 'c-input' %></div>
    </fieldset>

    <div class="footer-form">
      <%= f.submit class: 'c-button -primary' %>
      <%= link_to 'Show', admin_route_path(route), class: 'c-button -primary' unless route.id.nil? %>
      <%= link_to 'Back', admin_routes_path, class: 'c-button -secondary' %>
    </div>
<% end %>
