<div class="c-extended-header">
  <div class="wrapper">
    <div class="description">
      <h1>Metadata</h1>
      <p></p>
    </div>
  </div>
</div>

<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @dataset, url: update_metadata_management_site_dataset_url(@site.slug, @dataset.id), method: :put do |f| %>
  <%= render partial: 'management/datasets/metadata_form', locals: {f: f} %>
  <%= render partial: 'management/steps_shared/footer', locals: { f: f, no_continue: true, cancel: management_site_datasets_path(@site.slug)} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @dataset } %>
