This has a beautiful map
<p>
  <a href="<%= @menu_tree.keys.first.url %>"><%= @menu_tree.keys.first.name %></a>
</p>
<% @menu_tree.values.first.each do |k_node, v_node| %>
  <p>
    <a href="<%= k_node.url %>"><%= k_node.name %></a>
    <% v_node.each_key do |k_sub_node| %>
      <p>
        <a href="<%= k_sub_node.url %>"><%= k_sub_node.name %></a>
      </p>
  <% end%>
  </p>
<% end %>
