<%= javascript_pack_tag 'application' %>

<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<!-- render 'front/cover', image: @alternative_image, size: 'small' -->

<div class="l-analysis-dashboard">
  <div class="bookmarks">
    <div class="wrapper">
      <div class="js-bookmarks"></div>
    </div>
  </div>

  <div class="wrapper">
    <div class="description">
      <% if @site_page.description.length > 200 %>
        <%= @site_page.description[0, 200].strip + '…' %><br/>
        <button type="button" class="read-more js-read-more">Read more</button>
        <div class="full-description js-description">
          <%= @site_page.description %>
        </div>
        <button type="button" class="c-table-action-button -info js-metadata-info metadata-button -hidden"></button>
      <% else %>
        <%= @site_page.description %>
        <button type="button" class="c-table-action-button -info js-metadata-info metadata-button -hidden"></button>
      <% end %>
    </div>
    <div class="filters js-filters">
    </div>

    <div class="widgets">
        <div class="large-widget js-widget-1"></div>
        <div class="widget js-widget-2"></div>
        <div class="widget js-widget-3"></div>
    </div>

    <hr/>
    <%= react_component('Dashboard', {
      dashboard: if @setting then @setting.get_filtered_dataset else nil end
    } ) %>

  </div>
</div>

<%= render 'front/footer' %>

<script type="text/javascript">
  window.route = 'Dashboard';
</script>
