<%= Gon::Base.render_data %>

<%= javascript_pack_tag 'application' %>

<%= react_component('HeaderView', {
  page: @site_page,
  site: @site_page.site,
  siteSettings: defined?(@site_page.site.site_settings) ? @site_page.site.site_settings : nil,
  siteTitleOnly: @site_title_only,
  image: @main_image,
  pageSize: defined?(size) ? size : nil
} ) %>

<div class="fa-dashboard">

    <p class="fa-dashboard__summary">
      <% if @site_page.description.length > 200 %>
        <%= @site_page.description[0, 200].strip + '…' %>
      <% else %>
        <%= @site_page.description %>
      <% end %>
    </p>

    <%= react_component('DashboardView', {
      page: @site_page,
      site: @site_page.site,
      siteSettings: defined?(@site_page.site.site_settings) ? @site_page.site.site_settings : nil,
      siteTitleOnly: @site_title_only,
      image: @main_image,
      pageSize: defined?(size) ? size : nil
    } ) %>

    <% if @site_page.description.length > 200 %>
      <p class="fa-dashboard__description"><%= @site_page.description %></p>
    <% end %>

</div>

<%= render 'front/footer' %>
