<%= Gon::Base.render_data %>
<%= javascript_pack_tag 'application' %>

<%= react_component('Cover', {
  page: @site_page,
  site: @site_page.site,
  siteSettings: defined?(@site_page.site.site_settings) ? @site_page.site.site_settings : nil,
  siteTitleOnly: @site_title_only,
  image: @main_image,
  pageSize: defined?(size) ? size : nil
} ) %>

<div class="l-analysis-dashboard">
  <div class="bookmarks">
    <div class="wrapper">
      <div class="js-bookmarks"></div>
    </div>
  </div>

  <div class="wrapper">

    <div class="tabs">
        <ul class="tabs__menu">
          <li><button class="tabs__btn active" data-tab="chart">Chart</button></li>
          <li><button class="tabs__btn" data-tab="map">Map</button></li>
          <li><button class="tabs__btn" data-tab="table">Table</button></li>
        </ul>

        <div class="tabs__items">
          <div class="tabs__tab active" id="tabs__chart">
            <div class="large-widget widget js-widget-2"></div>
          </div>

          <div class="tabs__tab" id="tabs__map">
            <div class="large-widget js-widget-1"></div>
          </div>

          <div class="tabs__tab" id="tabs__table">
            <%= react_component('PublicTableView', {
              dashboard: if @setting then @setting.get_filtered_dataset else nil end
            } ) %>
          </div>

        </div>

    </div>

  </div>
</div>

<%= render 'front/footer' %>

<script type="text/javascript">
  window.route = 'Dashboard';

  // Untill we render this in react
  // It would be more hazzle to make react work with this old logic
  $(function () {
    $('.tabs__btn').on('click', function (e) {
      $('.tabs__btn').removeClass('active');
      $(this).addClass('active');

      $('.tabs__tab').removeClass('active');
      $('#tabs__' + $(this).attr('data-tab')).addClass('active');
    });
  });

</script>
