<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= render 'front/cover', image: @alternative_image, size: 'small' %>

<div class="l-analysis-dashboard">
  <div class="bookmarks">
    <div class="wrapper">
      <div class="js-bookmarks"></div>
    </div>
  </div>

  <div class="wrapper">
    <div class="description">
      <% if @site_page.description.length > 200 %>
        <%= @site_page.description[0, 200].strip + '…' %><br/>
        <button type="button" class="js-read-more">Read more</button>
        <div class="full-description js-description">
          <%= @site_page.description %>
        </div>
      <% else %>
        <%= @site_page.description %>
      <% end %>
    </div>
    <div class="filters js-filters">
    </div>

    <div class="widgets">
      <div class="large-widget js-widget-1"></div>
      <div class="widget js-widget-2"></div>
      <div class="widget js-widget-3"></div>
    </div>

    <hr/>
    <div class="table js-table"></div>
  </div>
</div>

<%= render 'front/footer' %>

<script type="text/javascript">
  window.route = 'Dashboard';
</script>
