<%= Gon::Base.render_data %>

<div class="l-analysis-dashboard">

  <!--
  <div class="bookmarks">
    <div class="wrapper">
      <div class="js-bookmarks"></div>
    </div>
  </div>
  -->

  <div class="wrapper">
    <div class="description">
      <% if @site_page.description.length > 200 %>
        <%= @site_page.description[0, 200].strip + '…' %>
      <% else %>
        <%= @site_page.description %>
      <% end %>
    </div>

    <!--
    Not sure what filters does at this point
    <div class="filters js-filters"></div>
    -->

    <div class="widgets">
        <div class="large-widget js-widget-1"></div>
        <div class="widget js-widget-2"></div>
        <div class="widget js-widget-3"></div>
    </div>

    <% if @site_page.description.length > 200 %>
      <%= @site_page.description %>
    <% end %>

    <hr/>

    <%= javascript_pack_tag 'application' %>
    <%= react_component('PublicTableView', {
      dashboard: if @setting then @setting.get_filtered_dataset else nil end
    } ) %>

  </div>
</div>

<%= render 'front/footer' %>

<script type="text/javascript">
  window.route = 'Dashboard';
</script>
