<%= Gon::Base.render_data %>
<%= javascript_pack_tag 'application' %>

<%= react_component('Cover', {
  page: @site_page,
  site: @site_page.site,
  siteSettings: defined?(@site_page.site.site_settings) ? @site_page.site.site_settings : nil,
  siteTitleOnly: @site_title_only,
  image: @main_image,
  pageSize: defined?(size) ? size : nil
} ) %>

<div class="l-analysis-dashboard">
  <div class="bookmarks">
    <div class="wrapper">
      <div class="js-bookmarks"></div>
    </div>
  </div>

  <div class="wrapper">

    <div class="description">
      <% if @site_page.description.length > 250 %>
        <%= @site_page.description[0, 250].strip + '…' %>
      <% else %>
        <%= @site_page.description %>
      <% end %>
    </div>

    <div class="filters js-filters"></div>

    <div class="widgets">
        <div class="large-widget js-widget-1"></div>
        <div class="widget js-widget-2"></div>
        <%= react_component('PublicTableView', {
          dashboard: if @setting then @setting.get_filtered_dataset else nil end
        } ) %>
    </div>

    <div class="tabs">

      <div class="tab">
          <input type="radio" id="tab-1" name="tab-group-1" checked>
          <label for="tab-1">Tab One</label>

          <div class="content">
              stuff 1
          </div>
      </div>

      <div class="tab">
          <input type="radio" id="tab-2" name="tab-group-1">
          <label for="tab-2">Tab Two</label>

          <div class="content">
              stuff 2
          </div>
      </div>

        <div class="tab">
          <input type="radio" id="tab-3" name="tab-group-1">
          <label for="tab-3">Tab Three</label>

          <div class="content">
              stuff 3
          </div>
      </div>

    </div>

    <% if @site_page.description.length > 250 %>
      <div class="description description__full">
        <%= @site_page.description %>
      </div>
    <% end %>

  </div>
</div>

<%= render 'front/footer' %>

<script type="text/javascript">
  window.route = 'Dashboard';
</script>
