<%= Gon::Base.render_data %>
<%= javascript_pack_tag 'application' %>

<%= react_component('Cover', {
  title: @site_page.name,
  subtitle: @site_page.site.name,
  images: @page_cover,
  size: 'small',
  template: @site_page.site.site_template.name
} ) %>

<div class="fa-dashboard">
  <%= react_component('public/Dashboard', {
    pageSlug: @site_page.uri,
    dataset: @site_page.dashboard_setting.dataset_id,
    widget: @site_page.dashboard_setting.widget_id,
    topContent: @site_page.dashboard_setting.content_top,
    bottomContent: @site_page.dashboard_setting.content_bottom
  }) %>
</div>

<%= render 'front/footer' %>
