<%= Gon::Base.render_data %>
<%= javascript_pack_tag 'application' %>

<%= react_component('Cover', {
  page: @site_page,
  site: @site_page.site,
  siteSettings: defined?(@site_page.site.site_settings) ? @site_page.site.site_settings : nil,
  siteTitleOnly: @site_title_only,
  image: @main_image,
  pageSize: defined?(size) ? size : nil
} ) %>

<div class="fa-dashboard">
  <%= react_component('public/Dashboard', {
    pageSlug: @site_page.uri,
    dataset: @site_page.dashboard_setting.dataset_id,
    widget: @site_page.dashboard_setting.widget_id,
    topContent: @site_page.dashboard_setting.content_top,
    bottomContent: @site_page.dashboard_setting.content_bottom
  }) %>
</div>

<%= render 'front/footer' %>
