<h1>Static page for homepage</h1>
<h3><%= @site_page.name %></h3>
<%= @site_page.content.html_safe unless @site_page.content.blank? %>

<%= render 'front/cover'%>

<%= render 'front/pre-footer'%>

<%= render 'front/footer'%>

<script type="text/javascript">
  window.route = 'Homepage';
</script>
