<% content_for :body_class do %>
  class="tundra" data-turbolinks="false"
<% end %>

<%= @map_html.nil? ? '' : @map_html.html_safe %>

<div id="root"></div>
<div class="modal-wrapper hidden" id="share-modal"></div>

<% content_for :external_js do %>
  <script id="library-load" src="<%= ENV['MAP_BUILDER_BASE_URL'] %>/<%= @site_page.content['version'] || '1.3.3' %>.js"></script>
  <script type="text/javascript">
    var triggerCustom;
    var mapDatabaseConfig = JSON.parse('<%= @map_content %>');
    var mapConfig = Object.assign(mapDatabaseConfig, {
      title: '<%= @site_page.site.name %>'
    });
    // Get subscriptions
    fetch('<%= ENV['FA_PUBLIC_FOLDER']%>/subscriptions', {
      method: 'GET',
      headers: {
        Authorization: 'Bearer <%= session[:user_token] %>'
      }
    }).then(function(response) {
      return response.json();
    })
    .then(function(subscriptions) {
      triggerCustom = function() {
        var customEvent = new CustomEvent('listenToThisSubscriptionCall', { detail: subscriptions.data });
        window.dispatchEvent(customEvent);
      }
    });

    var ll = new MapBuilder({
      el: 'root', // We need a div ID, not a class
      config: mapConfig,
      subscriptionEventName: 'listenToThisSubscriptionCall',
      version: '<%= @site_page.content['version'] || '1.3.3' %>',
      html: '<%= @map_html %>',
      //base: ""
    });
    </script>
<% end %>

<script type="text/javascript">
  window.route = 'Map';
  $( "body" ).on( "click", ".triggerMySubscriptions", function(e) {
    e.preventDefault();
    triggerCustom();
  });
</script>
