<% content_for :body_class do %>
  class="tundra" data-turbolinks="false"
<% end %>


<svg class="hidden">
  <symbol id="shape-close" viewbox="0 0 25 25">
    <title>Close</title>
    <path d="M 5 19 L 19 5 L 21 7 L 7 21 L 5 19 ZM 7 5 L 21 19 L 19 21 L 5 7 L 7 5 Z"></path>
  </symbol>
  <symbol id="shape-info" viewbox="0 0 16 32">
    <title>Info</title>
    <path d="M2 16c1.105 0 2 0.895 2 2v8c0 1.105-0.895 2-2 2h-2v4h16v-4h-1.992c-1.102 0-2.008-0.895-2.008-2l-0.004-14h-11.996v4h2zM4 4c0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.209-1.791 4-4 4s-4-1.791-4-4z"></path>
  </symbol>
  <symbol id="icon-basemap" viewbox="0 0 1132 1024">
    <title>Basemap</title>
    <path d="M124.918 220.754l343.773-174.238 489.199 254.645-330.542 167.526-502.43-247.931z" class="path1"></path>
    <path d="M124.918 450.655l502.43 247.931 330.542-167.526-146.75-76.438-183.793 93.196-351.661-173.503-150.769 76.388z" class="path2"></path>
    <path d="M124.918 680.554l502.43 247.931 330.542-167.526-146.75-76.438-183.793 93.196-351.661-173.503-150.769 76.388z" class="path3"></path>
  </symbol>
  <symbol id="icon-share" viewbox="0 0 1024 1024">
    <title>Share</title>
    <path d="M183.488 507.392c0 65.024 52.672 117.696 117.696 117.696 31.744 0 60.608-12.544 81.792-32.96l193.792 96.896c-0.576 4.736-0.96 9.6-0.96 14.528 0 65.024 52.672 117.696 117.696 117.696s117.696-52.672 117.696-117.696c0-65.024-52.672-117.696-117.696-117.696-31.744 0-60.48 12.544-81.6 32.96l-193.984-96.896c0.576-4.8 0.96-9.6 0.96-14.528s-0.384-9.728-0.96-14.528l193.792-96.896c21.184 20.416 50.048 32.96 81.792 32.96 65.024 0 117.696-52.672 117.696-117.696s-52.672-117.696-117.696-117.696c-65.024 0-117.696 52.672-117.696 117.696 0 4.928 0.384 9.792 0.96 14.528l-193.792 96.896c-21.184-20.416-50.048-32.96-81.792-32.96-65.024 0-117.696 52.672-117.696 117.696z" class="path1"></path>
  </symbol>
  <symbol id="icon-reset" viewbox="0 0 1024 1024">
    <title>Reset</title>
    <path d="M267.399 573.182c0-118.12 91.259-214.88 207.122-223.703v-103.719c-173.097 8.978-310.682 152.080-310.682 327.422 0 181.117 146.821 327.938 327.938 327.938 175.325 0 318.448-137.581 327.422-310.682h-103.731c-8.815 115.864-105.574 207.122-223.691 207.122-123.924 0-224.379-100.463-224.379-224.379z" class="path1"></path>
    <path d="M450.56 122.88l2.327 368.64 243.433-198.259-245.76-170.381z" class="path2"></path>
  </symbol>
  <symbol id="icon-plus" viewbox="0 0 1024 1024">
    <title>Zoom In</title>
    <path d="M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z" class="path1"></path>
  </symbol>
  <symbol id="icon-minus" viewbox="0 0 1024 1024">
    <title>Zoom Out</title>
    <path d="M778.24 573.44h-532.48v-122.88h532.48v122.88z" class="path1"></path>
  </symbol>
  <symbol id="icon-locate" viewbox="0 0 1024 1024">
    <title>Locate</title>
    <path d="M365.742 505.262c0-77.057 62.463-139.52 139.52-139.52s139.52 62.463 139.52 139.52c0 77.057-62.463 139.52-139.52 139.52s-139.52-62.463-139.52-139.52z" class="path1"></path>
    <path d="M505.315 323.232c96.637-0.102 185.975 60.807 185.975 182.033s-89.339 182.135-185.975 182.033c-96.733-0.106-186.077-61.314-186.077-182.033s89.343-181.923 186.077-182.033zM505.213 230.219c-135.799 0.148-278.987 91.544-278.987 275.044s143.189 274.894 278.987 275.044c135.896 0.143 279.090-91.055 279.090-275.044s-143.193-275.189-279.090-275.044z" class="path2"></path>
    <path d="M458.756 133.212h93.014v139.52h-93.014v-139.52z" class="path3"></path>
    <path d="M458.756 737.796h93.014v139.52h-93.014v-139.52z" class="path4"></path>
    <path d="M737.796 458.756h139.52v93.014h-139.52v-93.014z" class="path5"></path>
    <path d="M133.212 458.756h139.52v93.014h-139.52v-93.014z" class="path6"></path>
  </symbol>
  <symbol id="icon-analysis" viewbox="0 0 1138 1024">
    <title>Analysis</title>
    <path d="M113.389 936.516h911.044v-91.104h-819.939v-728.836h-91.104v819.939z" class="path1"></path>
    <path d="M332.665 780.782l196.618-275.191 138.986 139.252 227.711-364.509 50.694 50.66 64.42-64.42-131.605-131.605-227.67 364.473-134.271-134.233-259.014 362.623 74.133 52.951z" class="path2"></path>
  </symbol>
  <symbol id="icon-remove" viewbox="0 0 1024 1024">
    <title>Remove</title>
    <path d="M625.778 225.559v-56.946h-227.556v56.946h-170.667v113.892h568.889v-113.892h-170.667z" class="path1"></path>
    <path d="M284.444 396.396v512.512h455.111v-512.512h-455.111z" class="path2"></path>
  </symbol>
  <symbol id="icon-alerts" viewbox="0 0 1138 1024">
    <title>Alerts</title>
    <path d="M455.111 738.071h113.778v56.946h-113.778v-56.946zM424.192 201.216l-336.384 561.203c-48.498 80.902-11.401 146.489 82.859 146.489h682.667c94.259 0 131.356-65.587 82.859-146.489l-336.384-561.203c-48.498-80.907-127.118-80.907-175.616 0zM455.111 396.396h113.778v284.729h-113.778v-284.729z" class="path1"></path>
  </symbol>
  <symbol id="icon-facebook" viewbox="0 0 1024 1024">
    <title>Facebook</title>
    <path d="M575.872 1024h-191.872v-512h-128v-176.448l128-0.064-0.192-103.936c0-143.936 39.040-231.552 208.576-231.552h141.184v176.512h-88.256c-66.048 0-69.184 24.64-69.184 70.656l-0.256 88.32h158.72l-18.688 176.448-139.84 0.064-0.128 512z" class="path1"></path>
  </symbol>
  <symbol id="icon-twitter" viewbox="0 0 1024 1024">
    <title>Twitter</title>
    <path d="M1024 194.432c-37.696 16.704-78.144 28.032-120.64 33.088 43.392-25.984 76.672-67.2 92.352-116.224-40.576 24.064-85.568 41.536-133.44 51.008-38.336-40.832-92.928-66.368-153.344-66.368-116.032 0-210.112 94.080-210.112 210.048 0 16.448 1.856 32.512 5.44 47.872-174.592-8.768-329.408-92.416-433.024-219.52-18.112 31.040-28.416 67.136-28.416 105.6 0 72.896 37.056 137.216 93.44 174.848-34.432-1.088-66.816-10.56-95.168-26.304 0 0.896 0 1.728 0 2.624 0 101.76 72.448 186.688 168.512 206.016-17.6 4.8-36.16 7.36-55.36 7.36-13.568 0-26.688-1.344-39.552-3.776 26.752 83.456 104.32 144.192 196.224 145.92-71.872 56.32-162.496 89.92-260.928 89.92-16.96 0-33.664-1.024-50.112-2.944 92.992 59.584 203.392 94.4 322.048 94.4 386.432 0 597.76-320.128 597.76-597.76 0-9.088-0.192-18.176-0.64-27.2 41.088-29.632 76.672-66.624 104.832-108.736z" class="path1"></path>
  </symbol>
  <symbol id="icon-googleplus" viewbox="0 0 1024 1024">
    <title>Google Plus</title>
    <path d="M559.040 64c0 0-200.96 0-267.968 0-120.128 0-233.152 91.008-233.152 196.416 0 107.712 81.856 194.688 204.096 194.688 8.512 0 16.768-0.192 24.832-0.768-7.936 15.168-13.632 32.32-13.632 50.048 0 29.952 16.128 54.208 36.48 74.048-15.36 0-30.272 0.448-46.464 0.448-148.8 0-263.296 94.784-263.296 193.024 0 96.768 125.568 157.312 274.304 157.312 169.6 0 263.296-96.256 263.296-193.024 0-77.632-22.912-124.096-93.696-174.144-24.192-17.152-70.528-58.816-70.528-83.328 0-28.736 8.192-42.88 51.456-76.672 44.288-34.624 75.648-83.328 75.648-139.904 0-67.392-30.016-133.12-86.4-154.752h84.928l59.968-43.328zM465.472 719.488c2.112 8.96 3.264 18.176 3.264 27.648 0 78.208-50.368 139.328-194.944 139.328-102.848 0-177.088-65.088-177.088-143.296 0-76.672 92.096-140.416 194.944-139.328 24 0.256 46.336 4.096 66.688 10.688 55.808 38.848 95.872 60.736 107.2 105.024zM300.8 427.776c-69.056-2.048-134.656-77.248-146.56-167.872s34.368-160.064 103.36-158.016c68.992 2.048 134.656 74.816 146.56 165.44s-34.368 162.432-103.424 160.384zM832 256v-192h-64v192h-192v64h192v192h64v-192h192v-64z" class="path1"></path>
  </symbol>
  <symbol id="icon-controls-toggle__off" viewbox="0 0 1024 1024">
    <title>Controls Toggle Off   </title>
    <path d="M768.086 204.8l-558.735 567.14 46.563 47.26 558.735-567.14-46.563-47.26zM677.376 458.899c5.804 16.699 9.052 34.501 9.052 53.101 0 92.68-78.086 167.801-174.428 167.801-16.048 0-31.498-2.179-46.264-6.083l-47.555 48.284c30.233 6.156 61.628 9.437 93.819 9.437 168.141 0 314.384-88.76 389.12-219.439-32.662-57.098-79.065-106.099-134.889-143.278l-88.855 90.178zM337.572 512c0-92.68 78.086-167.801 174.428-167.801 16.048 0 31.506 2.163 46.26 6.083l47.555-48.284c-30.22-6.197-61.624-9.437-93.815-9.437-168.141 0-314.384 88.76-389.12 219.439 32.662 57.098 79.065 106.099 134.889 143.278l88.85-90.178c-5.82-16.699-9.048-34.501-9.048-53.101zM483.893 425.759c-30.847 9.322-54.858 33.522-62.902 63.861l62.902-63.861zM540.107 598.241c30.859-9.322 54.858-33.501 62.902-63.861l-62.902 63.861z" class="path1"></path>
  </symbol>
  <symbol id="icon-controls-toggle__on" viewbox="0 0 1024 1024">
    <title>Controls Toggle On</title>
    <path d="M337.572 491.52c0-86.479 78.086-156.619 174.428-156.619s174.428 70.14 174.428 156.619c0 86.479-78.086 156.619-174.428 156.619s-174.428-70.14-174.428-156.619zM901.12 491.52c-74.736-121.958-220.975-245.76-389.12-245.76-168.141 0-314.384 123.802-389.12 245.76 74.736 121.958 220.979 245.76 389.12 245.76 168.145 0 314.384-123.802 389.12-245.76zM418.075 491.52c0 46.58 42.050 84.32 93.925 84.32s93.925-37.741 93.925-84.32c0-46.58-42.050-84.32-93.925-84.32s-93.925 37.741-93.925 84.32z" class="path1"></path>
  </symbol>
  <symbol id="icon-download" viewbox="0 0 1024 1024">
    <title>Download</title>
    <path d="M442.239 148.422v284.698h-147.283l217.044 294.667 217.044-294.667h-147.283v-284.698h-139.523z" class="path1"></path>
    <path d="M102.030 920.908h819.939v-337.963h-96.466v241.4h-627.008v-241.4h-96.466v337.963z" class="path2"></path>
  </symbol>
  <symbol id="icon-home" viewbox="0 0 1024 1024">
    <title>Home</title>
    <path d="M499.366 41.105l-458.261 458.224h152.729v458.299h203.665v-305.495h203.703v305.495h203.665v-458.299h152.729l-458.224-458.224z" class="path1"></path>
  </symbol>
  <symbol id="icon-analysis-draw" viewbox="0 0 145 101">
    <title>Analysis Draw</title>
    <g>
      <path fill="#F0AB00" d="M135.726,62.687 C135.726,62.687 134.274,65.313 134.274,65.313 C134.274,65.313 52.274,12.313 52.274,12.313 C52.274,12.313 53.726,9.687 53.726,9.687 C53.726,9.687 135.726,62.687 135.726,62.687 Z" fill-rule="evenodd"></path>
      <path fill="#F0AB00" d="M105.726,90.687 C105.726,90.687 104.274,93.313 104.274,93.313 C104.274,93.313 42.274,83.313 42.274,83.313 C42.274,83.313 43.726,80.687 43.726,80.687 C43.726,80.687 105.726,90.687 105.726,90.687 Z" fill-rule="evenodd"></path>
      <path fill="#F0AB00" d="M105.153,92.235 C105.153,92.235 102.760,90.425 102.760,90.425 C102.760,90.425 134.847,60.765 134.847,60.765 C134.847,60.765 137.240,62.575 137.240,62.575 C137.240,62.575 105.153,92.235 105.153,92.235 Z" fill-rule="evenodd"></path>
      <path fill="#F0AB00" d="M43.793,81.207 C43.793,81.207 44.153,82.235 44.153,82.235 C44.153,82.235 41.760,80.425 41.760,80.425 C41.760,80.425 26.847,37.765 26.847,37.765 C26.847,37.765 28.207,38.793 28.207,38.793 C28.207,38.793 27.847,37.765 27.847,37.765 C27.847,37.765 30.240,39.575 30.240,39.575 C30.240,39.575 45.153,82.235 45.153,82.235 C45.153,82.235 43.793,81.207 43.793,81.207 Z" fill-rule="evenodd"></path>
      <circle fill="#F0AB00" cx="49" cy="9" r="9"></circle>
      <circle fill="#FFFFFF" cx="49" cy="9" r="6"></circle>
      <circle fill="#F0AB00" cx="136" cy="65" r="9"></circle>
      <circle fill="#FFFFFF" cx="136" cy="65" r="6"></circle>
      <circle fill="#F0AB00" cx="106" cy="92" r="9"></circle>
      <circle fill="#FFFFFF" cx="106" cy="92" r="6"></circle>
      <circle fill="#F0AB00" cx="43" cy="82" r="9"></circle>
      <circle fill="#FFFFFF" cx="43" cy="82" r="6"></circle>
      <circle fill="#F0AB00" cx="29" cy="39" r="9"></circle>
      <circle fill="#FFFFFF" cx="29" cy="39" r="6"></circle>
      <path fill="#555555" d="M13.896,14.212 C13.896,14.212 15.096,13.010 15.096,13.010 C15.096,13.010 23.668,21.597 23.668,21.597 C23.668,21.597 22.468,22.799 22.468,22.799 C22.468,22.799 13.896,14.212 13.896,14.212 ZM5.324,19.879 C5.324,19.879 13.896,11.293 13.896,11.293 C13.896,11.293 15.096,12.495 15.096,12.495 C15.096,12.495 6.524,21.081 6.524,21.081 C6.524,21.081 5.324,19.879 5.324,19.879 ZM5.838,16.617 C4.467,17.990 4.809,17.819 3.438,19.192 C3.438,19.192 1.038,16.617 1.038,16.617 C-0.334,15.414 -0.334,13.182 1.038,11.808 C1.038,11.808 5.838,7.000 5.838,7.000 C7.210,5.626 9.267,5.626 10.638,7.000 C10.638,7.000 13.210,9.404 13.210,9.404 C11.839,10.606 12.010,10.434 10.638,11.808 C10.638,11.808 5.838,16.617 5.838,16.617 ZM16.811,28.466 C16.811,28.466 15.610,29.668 15.610,29.668 C15.610,29.668 7.038,21.081 7.038,21.081 C7.038,21.081 8.238,19.879 8.238,19.879 C8.238,19.879 16.811,28.466 16.811,28.466 ZM11.667,16.445 C11.667,16.445 20.239,25.031 20.239,25.031 C20.239,25.031 19.039,26.233 19.039,26.233 C19.039,26.233 10.467,17.647 10.467,17.647 C10.467,17.647 11.667,16.445 11.667,16.445 ZM24.011,30.011 C24.011,30.011 17.325,29.324 17.325,29.324 C17.325,29.324 23.325,23.314 23.325,23.314 C23.325,23.314 24.011,30.011 24.011,30.011 Z" fill-rule="evenodd"></path>
    </g>
  </symbol>
  <symbol id="icon-analysis-poly" viewbox="0 0 109 86">
    <title>Analysis Click Polygon</title>
    <g>
      <path fill="#F0AB00" opacity="0.2" d="M19.000,74.000 C19.000,74.000 8.000,35.000 8.000,35.000 C8.000,35.000 50.000,10.000 50.000,10.000 C50.000,10.000 54.000,9.000 54.000,9.000 C54.000,9.000 99.000,35.000 99.000,35.000 C99.000,35.000 91.000,74.000 91.000,74.000 C91.000,74.000 19.000,74.000 19.000,74.000 Z" fill-rule="evenodd" class="cls-3"></path>
      <path fill="#F0AB00" d="M9.772,35.286 C9.772,35.286 8.228,32.714 8.228,32.714 C8.228,32.714 53.228,5.714 53.228,5.714 C53.228,5.714 54.772,8.286 54.772,8.286 C54.772,8.286 9.772,35.286 9.772,35.286 Z" fill-rule="evenodd" class="cls-4"></path>
      <path fill="#F0AB00" d="M19.438,70.573 C19.438,70.573 16.562,71.427 16.562,71.427 C16.562,71.427 5.562,34.427 5.562,34.427 C5.562,34.427 8.438,33.573 8.438,33.573 C8.438,33.573 19.438,70.573 19.438,70.573 Z" fill-rule="evenodd" class="cls-4"></path>
      <path fill="#F0AB00" d="M17.020,74.500 C17.020,74.500 16.980,71.500 16.980,71.500 C16.980,71.500 91.980,70.500 91.980,70.500 C91.980,70.500 92.020,73.500 92.020,73.500 C92.020,73.500 17.020,74.500 17.020,74.500 Z" fill-rule="evenodd" class="cls-4"></path>
      <path fill="#F0AB00" d="M92.462,72.337 C92.462,72.337 89.538,71.663 89.538,71.663 C89.538,71.663 98.538,32.663 98.538,32.663 C98.538,32.663 101.462,33.337 101.462,33.337 C101.462,33.337 92.462,72.337 92.462,72.337 Z" fill-rule="evenodd" class="cls-4"></path>
      <path fill="#F0AB00" d="M99.726,31.687 C99.726,31.687 98.274,34.313 98.274,34.313 C98.274,34.313 51.274,8.313 51.274,8.313 C51.274,8.313 52.726,5.687 52.726,5.687 C52.726,5.687 99.726,31.687 99.726,31.687 Z" fill-rule="evenodd" class="cls-4"></path>
      <circle fill="#F0AB00" cx="54" cy="9" r="9" class="cls-4"></circle>
      <circle fill="#FFFFFF" cx="54" cy="9" r="6" class="cls-10"></circle>
      <circle fill="#F0AB00" cx="9" cy="35" r="9" class="cls-4"></circle>
      <circle fill="#FFFFFF" cx="9" cy="35" r="6" class="cls-10"></circle>
      <circle fill="#F0AB00" cx="100" cy="35" r="9" class="cls-4"></circle>
      <circle fill="#FFFFFF" cx="100" cy="35" r="6" class="cls-10"></circle>
      <circle fill="#F0AB00" cx="90" cy="72" r="9" class="cls-4"></circle>
      <circle fill="#FFFFFF" cx="90" cy="72" r="6" class="cls-10"></circle>
      <circle fill="#F0AB00" cx="18" cy="72" r="9" class="cls-4"></circle>
      <circle fill="#FFFFFF" cx="18" cy="72" r="6" class="cls-10"></circle>
      <path fill="#FFFFFF" stroke="#555555" stroke-linejoin="round" stroke-width="2px" d="M69.990,83.228 C69.990,83.228 69.937,71.694 69.937,71.694 C69.932,70.823 69.524,70.051 68.894,69.562 C68.447,69.215 67.891,69.011 67.286,69.014 C66.881,69.016 66.498,69.111 66.155,69.280 C66.114,68.459 65.715,67.738 65.115,67.272 C64.668,66.925 64.112,66.721 63.508,66.725 C62.770,66.729 62.105,67.042 61.627,67.541 C61.627,67.541 61.626,67.117 61.626,67.117 C61.622,66.247 61.214,65.475 60.583,64.986 C60.137,64.640 59.581,64.436 58.978,64.439 C58.239,64.443 57.572,64.756 57.099,65.255 C57.099,65.255 57.069,58.680 57.069,58.680 C57.064,57.810 56.656,57.038 56.026,56.548 C55.579,56.202 55.022,55.998 54.418,56.001 C52.962,56.008 51.787,57.220 51.794,58.705 C51.794,58.705 51.869,75.182 51.869,75.182 C51.869,75.182 50.733,73.637 50.733,73.637 C50.583,73.434 50.409,73.256 50.219,73.109 C49.305,72.400 48.008,72.361 47.042,73.102 C45.877,73.994 45.643,75.681 46.517,76.871 C46.517,76.871 52.436,84.919 52.436,84.919 C52.585,85.121 52.759,85.299 52.948,85.445 C53.398,85.794 53.944,85.984 54.507,85.993 C54.507,85.993 67.365,85.930 67.365,85.930 C68.821,85.924 69.997,84.714 69.990,83.228 Z" fill-rule="evenodd" class="cls-19"></path>
    </g>
  </symbol>
  <symbol id="icon-data" viewbox="0 0 1075 1024">
    <title>Data</title>
    <path d="M695.417 444.359c0-37.356 30.281-67.641 67.641-67.641s67.641 30.285 67.641 67.641c0 37.356-30.281 67.641-67.641 67.641s-67.641-30.285-67.641-67.641zM469.947 444.359c0-37.356 30.281-67.641 67.641-67.641s67.641 30.285 67.641 67.641c0 37.356-30.281 67.641-67.641 67.641s-67.641-30.285-67.641-67.641zM244.478 444.359c0-37.356 30.281-67.641 67.641-67.641s67.641 30.285 67.641 67.641c0 37.356-30.281 67.641-67.641 67.641s-67.641-30.285-67.641-67.641zM109.197 61.062c-24.901 0-45.093 20.189-45.093 45.093v676.407c0 24.906 20.194 45.093 45.093 45.093h293.11l135.281 135.281 135.281-135.281h293.11c24.901 0 45.093-20.189 45.093-45.093v-676.407c0-24.906-20.194-45.093-45.093-45.093h-856.782z" class="path1"></path>
  </symbol>
  <symbol id="icon-print" viewbox="0 0 19 14">
    <title>Print</title>
    <path d="M16.000,10.000 C16.000,10.000 16.000,12.000 16.000,12.000 C16.000,12.000 16.000,13.000 16.000,13.000 C16.000,13.000 16.000,14.000 16.000,14.000 C16.000,14.000 3.000,14.000 3.000,14.000 C3.000,14.000 3.000,13.000 3.000,13.000 C3.000,13.000 3.000,12.000 3.000,12.000 C3.000,12.000 3.000,10.000 3.000,10.000 C3.000,10.000 0.000,10.000 0.000,10.000 C0.000,10.000 0.000,3.000 0.000,3.000 C0.000,3.000 1.000,3.000 1.000,3.000 C1.000,3.000 2.000,3.000 2.000,3.000 C2.000,3.000 3.000,3.000 3.000,3.000 C3.000,3.000 3.000,0.000 3.000,0.000 C3.000,0.000 16.000,0.000 16.000,0.000 C16.000,0.000 16.000,3.000 16.000,3.000 C16.000,3.000 17.000,3.000 17.000,3.000 C17.000,3.000 18.000,3.000 18.000,3.000 C18.000,3.000 19.000,3.000 19.000,3.000 C19.000,3.000 19.000,10.000 19.000,10.000 C19.000,10.000 16.000,10.000 16.000,10.000 ZM5.000,12.000 C5.000,12.000 14.000,12.000 14.000,12.000 C14.000,12.000 14.000,7.993 14.000,7.993 C14.000,7.993 5.000,7.993 5.000,7.993 C5.000,7.993 5.000,12.000 5.000,12.000 ZM2.889,8.002 C2.889,8.002 2.889,8.000 2.889,8.000 C2.889,8.000 3.000,8.000 3.000,8.000 C3.000,8.000 3.000,7.000 3.000,7.000 C3.000,7.000 3.000,6.000 3.000,6.000 C3.000,6.000 16.000,6.000 16.000,6.000 C16.000,6.000 16.000,7.000 16.000,7.000 C16.000,7.000 16.000,8.000 16.000,8.000 C16.000,8.000 16.111,8.000 16.111,8.000 C16.111,8.000 16.111,8.002 16.111,8.002 C16.111,8.002 17.000,8.002 17.000,8.002 C17.000,8.002 17.000,5.000 17.000,5.000 C17.000,5.000 2.000,5.000 2.000,5.000 C2.000,5.000 2.000,8.002 2.000,8.002 C2.000,8.002 2.889,8.002 2.889,8.002 ZM1.000,3.996 C1.000,3.996 1.000,3.996 1.000,3.996 C1.000,3.996 1.000,8.002 1.000,8.002 C1.000,8.002 1.000,8.002 1.000,8.002 C1.000,8.002 1.000,5.000 1.000,5.000 C1.000,5.000 1.000,4.000 1.000,4.000 C1.000,4.000 1.000,3.996 1.000,3.996 ZM2.000,3.996 C2.000,3.996 2.000,4.000 2.000,4.000 C2.000,4.000 17.000,4.000 17.000,4.000 C17.000,4.000 17.000,3.996 17.000,3.996 C17.000,3.996 2.000,3.996 2.000,3.996 ZM18.000,3.996 C18.000,3.996 18.000,3.996 18.000,3.996 C18.000,3.996 18.000,4.000 18.000,4.000 C18.000,4.000 18.000,5.000 18.000,5.000 C18.000,5.000 18.000,8.002 18.000,8.002 C18.000,8.002 18.000,8.002 18.000,8.002 C18.000,8.002 18.000,3.996 18.000,3.996 Z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-control-search" viewbox="0 0 1024 1024">
    <title>Search</title>
    <path d="M240.939 484.159c0-113.541 88.33-212.799 201.654-222.040 118.436-9.658 218.452 81.9 218.452 204.919 0 123.003-100.016 222.72-218.452 222.72-113.324 0-201.654-92.037-201.654-205.599zM594.444 719.978c2.744 3.92 6.001 7.52 9.626 10.801l100.336 91.181c24.863 22.581 65.516 23.978 92.279 1.88 28.574-23.56 30.519-64.459 2.56-89.883l-111.313-101.097c33.993-48.562 54.17-107.463 54.17-170.959 0-166.060-137.683-289.681-300.696-276.644-155.984 12.481-277.565 146.461-277.565 299.762s121.582 277.561 277.565 277.561c55.439 0 107.885-15.52 153.039-42.602z" class="path1"></path>
  </symbol>
  <symbol id="icon-documents" viewbox="0 0 13 15">
    <title>Documents</title>
    <path d="M13.007,6.102 C13.007,5.142 12.551,4.535 11.895,3.887 C11.895,3.887 8.922,0.957 8.922,0.957 C8.489,0.530 8.072,0.190 7.559,0.007 C7.559,0.007 0.343,0.007 0.343,0.007 C0.179,0.007 -0.000,0.136 -0.000,0.296 C-0.000,0.296 -0.000,14.712 -0.000,14.712 C-0.000,14.871 0.179,15.001 0.343,15.001 C0.343,15.001 12.669,15.001 12.669,15.001 C12.834,15.001 13.010,14.871 13.010,14.712 C13.010,14.712 13.010,6.105 13.010,6.105 C13.010,6.105 13.007,6.102 13.007,6.102 ZM7.872,5.069 C7.872,5.069 7.872,0.889 7.872,0.889 C7.872,0.889 12.073,5.069 12.073,5.069 C12.073,5.069 7.872,5.069 7.872,5.069 Z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-h-about" viewbox="0 0 1024 1024">
    <title>About the Forest Atlas</title>
    <path d="M502.315 19.366v0c-277.163 0-502.315 225.152-502.315 502.315s225.152 502.315 502.315 502.315c277.163 0 502.315-225.152 502.315-502.315s-225.152-502.315-502.315-502.315zM502.315 125.137c218.795 0 396.587 177.749 396.587 396.544s-177.792 396.587-396.587 396.587c-218.795 0-396.587-177.792-396.587-396.587s177.792-396.544 396.587-396.544v0zM433.579 697.724h116.864v112.128h-116.864v-112.128zM368.555 260.22c30.635-19.413 68.736-29.355 113.664-29.355 58.709 0 107.861 14.165 146.475 41.941 39.125 28.288 58.667 69.675 58.667 124.672 0 33.536-8.448 61.824-25.344 84.907-10.069 14.123-29.099 31.957-57.131 53.973l-27.477 20.949c-15.36 12.032-24.875 25.685-30.165 40.875-3.157 9.941-4.736 25.131-4.736 46.080h-106.283c1.579-43.989 5.803-74.368 12.672-90.624 6.869-16.768 23.808-36.139 52.352-58.155l28.032-22.016c9.515-6.827 16.939-14.677 22.741-23.040 10.581-14.165 15.872-29.867 15.872-47.189 0-19.371-5.845-37.205-17.451-53.419-11.648-16.256-32.811-24.619-63.445-24.619-30.165 0-51.84 9.941-64 29.867-12.672 20.395-19.029 40.832-19.029 62.336h-113.152c3.157-73.899 29.099-126.293 77.739-157.184v0z" class="path1"></path>
  </symbol>
  <symbol id="icon-h-mygfw" viewbox="0 0 1024 1024">
    <title>My GFW Login</title>
    <path d="M402.657 629.443h191.303c82.197-73.64 83.018-193.658 83.018-194.951l-0.118-155.681c-13.809-62.696-97.652-118.955-178.551-118.955-80.941 0.038-164.78 56.377-178.594 119.036l-0.118 155.681c0 1.137 1.686 121.782 83.059 194.875v0zM132.613 891.366h731.358v-10.788l-266.161-159.721h-198.995l-266.203 159.801v10.713zM882.292 982.822h-767.925c-40.331 0-73.173-32.837-73.173-73.173v-80.743l270.479-162.387c-82.546-98.672-83.49-225.829-83.49-232.031l0.826-168.036c21.029-118.408 156.229-197.933 269.299-197.933h0.156c113.033 0 248.114 79.45 269.106 197.858l0.708 7.924 0.118 160.113c0 6.2-0.943 133.397-83.452 232.106l270.436 162.269v80.861c0 40.331-32.799 73.173-73.093 73.173v0z" class="path1"></path>
  </symbol>
  <symbol id="icon-h-language" viewbox="0 0 22 22">
    <title>Select Language</title>
    <path d="M16.500,14.500 C16.500,14.500 14.500,14.500 14.500,14.500 C14.500,14.500 8.500,18.500 8.500,18.500 C8.500,18.500 8.500,14.500 8.500,14.500 C8.500,14.500 5.500,14.500 5.500,14.500 C4.395,14.500 3.500,13.605 3.500,12.500 C3.500,12.500 3.500,5.500 3.500,5.500 C3.500,4.395 4.395,3.500 5.500,3.500 C5.500,3.500 16.500,3.500 16.500,3.500 C17.605,3.500 18.500,4.395 18.500,5.500 C18.500,5.500 18.500,12.500 18.500,12.500 C18.500,13.605 17.605,14.500 16.500,14.500 Z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-h-themes" viewbox="0 0 16 16">
    <title>Draw or Upload</title>
    <path d="M10.667,3.333 C10.667,3.333 5.347,-0.000 5.347,-0.000 C5.347,-0.000 0.000,3.338 0.000,3.338 C0.000,3.338 0.000,16.000 0.000,16.000 C0.000,16.000 5.333,12.667 5.333,12.667 C5.333,12.667 10.667,16.000 10.667,16.000 C10.667,16.000 16.000,12.667 16.000,12.667 C16.000,12.667 16.000,-0.000 16.000,-0.000 C16.000,-0.000 10.667,3.333 10.667,3.333 ZM1.333,13.594 C1.333,13.594 1.333,4.078 1.333,4.078 C1.333,4.078 4.667,1.997 4.667,1.997 C4.667,1.997 4.667,11.511 4.667,11.511 C4.667,11.511 4.627,11.536 4.627,11.536 C4.627,11.536 1.333,13.594 1.333,13.594 ZM6.000,11.511 C6.000,11.511 6.000,1.983 6.000,1.983 C6.000,1.983 9.959,4.463 9.959,4.463 C9.959,4.463 10.000,4.489 10.000,4.489 C10.000,4.489 10.000,14.011 10.000,14.011 C10.000,14.011 6.040,11.536 6.040,11.536 C6.040,11.536 6.000,11.511 6.000,11.511 ZM14.667,11.928 C14.667,11.928 11.333,14.011 11.333,14.011 C11.333,14.011 11.333,4.489 11.333,4.489 C11.333,4.489 11.373,4.464 11.373,4.464 C11.373,4.464 14.667,2.406 14.667,2.406 C14.667,2.406 14.667,11.928 14.667,11.928 Z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-draw-upload" viewbox="0 0 21 21">
    <title>Draw or Upload</title>
    <path d="M19.424,14.589 C19.160,14.589 18.922,14.508 18.704,14.394 C18.704,14.394 14.394,18.704 14.394,18.704 C14.508,18.922 14.589,19.160 14.589,19.424 C14.589,20.294 13.883,21.000 13.013,21.000 C12.142,21.000 11.437,20.294 11.437,19.424 C11.437,18.553 12.142,17.847 13.013,17.847 C13.234,17.847 13.444,17.894 13.635,17.977 C13.635,17.977 17.977,13.635 17.977,13.635 C17.894,13.444 17.847,13.234 17.847,13.013 C17.847,12.142 18.553,11.437 19.424,11.437 C20.294,11.437 21.000,12.142 21.000,13.013 C21.000,13.884 20.294,14.589 19.424,14.589 ZM14.274,10.596 C14.274,10.596 14.694,14.694 14.694,14.694 C14.694,14.694 10.596,14.274 10.596,14.274 C10.596,14.274 14.274,10.596 14.274,10.596 ZM8.494,5.026 C8.494,5.026 9.230,4.290 9.230,4.290 C9.230,4.290 14.484,9.545 14.484,9.545 C14.484,9.545 13.749,10.280 13.749,10.280 C13.749,10.280 8.494,5.026 8.494,5.026 ZM3.239,8.494 C3.239,8.494 8.494,3.239 8.494,3.239 C8.494,3.239 9.230,3.975 9.230,3.975 C9.230,3.975 3.975,9.230 3.975,9.230 C3.975,9.230 3.239,8.494 3.239,8.494 ZM3.555,6.497 C2.714,7.338 2.924,7.233 2.083,8.074 C2.083,8.074 0.612,6.497 0.612,6.497 C-0.229,5.761 -0.229,4.395 0.612,3.555 C0.612,3.555 3.555,0.612 3.555,0.612 C4.395,-0.229 5.656,-0.229 6.497,0.612 C6.497,0.612 8.073,2.083 8.073,2.083 C7.233,2.819 7.338,2.714 6.497,3.555 C6.497,3.555 3.555,6.497 3.555,6.497 ZM12.382,11.647 C12.382,11.647 11.647,12.382 11.647,12.382 C11.647,12.382 6.392,7.128 6.392,7.128 C6.392,7.128 7.128,6.392 7.128,6.392 C7.128,6.392 12.382,11.647 12.382,11.647 ZM10.280,13.749 C10.280,13.749 9.545,14.484 9.545,14.484 C9.545,14.484 4.290,9.230 4.290,9.230 C4.290,9.230 5.026,8.494 5.026,8.494 C5.026,8.494 10.280,13.749 10.280,13.749 Z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-menu" viewbox="0 0 1024 1024">
    <title>Menu</title>
    <path d="M73.848 128.616h876.306v175.264h-876.306v-175.264zM73.848 420.717h876.306v175.264h-876.306v-175.264zM73.848 712.819h876.306v175.264h-876.306v-175.264z" class="path1"></path>
  </symbol>
  <symbol id="icon-narrative" viewbox="0 0 25 25">
    <title>Map Narrative</title>
    <path d="M 20 6 L 20 4 L 2 4 L 2 17.5385 C 2 17.5385 2 20 4.5 20 L 20.125 20 C 20.125 20 22 19.9619 22 17.5385 L 22 6 L 20 6 ZM 4.25 19 C 3 19 3 17.7692 3 17.7692 L 3 5 L 19 5 L 19 17.5385 C 19 18.1052 19.1776 18.7281 19.4224 19 L 4.25 19 ZM 12 13 L 12 14 L 17 14 L 17 13 L 12 13 ZM 5 8 L 17 8 L 17 7 L 5 7 L 5 8 ZM 12 16 L 16 16 L 16 15 L 12 15 L 12 16 ZM 12 12 L 17 12 L 17 11 L 12 11 L 12 12 ZM 12 10 L 17 10 L 17 9 L 12 9 L 12 10 ZM 5 16 L 11 16 L 11 9 L 5 9 L 5 16 Z"></path>
  </symbol>
  <symbol id="icon-legend" viewbox="0 0 1081 1024">
    <title>Legend</title>
    <path d="M253.62 181.034c0 36.557-29.635 66.193-66.193 66.193s-66.193-29.635-66.193-66.193c0-36.557 29.635-66.193 66.193-66.193s66.193 29.635 66.193 66.193z" class="path1"></path>
    <path d="M253.62 401.679c0 36.557-29.635 66.193-66.193 66.193s-66.193-29.635-66.193-66.193c0-36.557 29.635-66.193 66.193-66.193s66.193 29.635 66.193 66.193z" class="path2"></path>
    <path d="M253.62 622.321c0 36.557-29.635 66.193-66.193 66.193s-66.193-29.635-66.193-66.193c0-36.557 29.635-66.193 66.193-66.193s66.193 29.635 66.193 66.193z" class="path3"></path>
    <path d="M253.62 842.966c0 36.557-29.635 66.193-66.193 66.193s-66.193-29.635-66.193-66.193c0-36.557 29.635-66.193 66.193-66.193s66.193 29.635 66.193 66.193z" class="path4"></path>
    <path d="M386.006 158.97h176.515v44.129h-176.515v-44.129z" class="path5"></path>
    <path d="M386.006 379.614h441.287v44.129h-441.287v-44.129z" class="path6"></path>
    <path d="M386.006 600.257h573.673v44.129h-573.673v-44.129z" class="path7"></path>
    <path d="M386.006 820.9h353.030v44.129h-353.030v-44.129z" class="path8"></path>
    <path d="M650.779 158.97h308.9v44.129h-308.9v-44.129z" class="path9"></path>
  </symbol>
  <symbol id="icon-timeline" viewbox="0 0 1024 1024">
    <title>Timeline</title>
    <path d="M512 962.938c-249.046 0-450.938-201.891-450.938-450.938s201.891-450.938 450.938-450.938c249.046 0 450.938 201.891 450.938 450.938s-201.891 450.938-450.938 450.938zM512 872.751c199.238 0 360.751-161.513 360.751-360.751s-161.513-360.75-360.751-360.75c-199.238 0-360.75 161.513-360.75 360.75s161.513 360.751 360.75 360.751zM563.724 510.005c0-22.024-12.056-41.061-29.84-51.416v-187.312c0-16.502-13.34-29.84-29.84-29.84s-29.84 13.339-29.84 29.84v187.312c-17.785 10.355-29.84 29.393-29.84 51.416 0 32.974 26.738 59.682 59.682 59.682 5.371 0 10.444-0.924 15.368-2.238l81.436 81.406c11.668 11.668 30.557 11.668 42.196 0 11.668-11.638 11.668-30.527 0-42.196l-81.495-81.495c1.283-4.864 2.178-9.877 2.178-15.159z" class="path1"></path>
  </symbol>
  <symbol id="shape-crosshairs" viewbox="0 0 349.557 349.557">
    <title>Crosshairs</title>
    <g>
      <circle cx="174.776" cy="174.779" r="13.921"></circle>
      <path d="M14.917,189.696h112.714c8.24,0,14.917-6.677,14.917-14.917s-6.677-14.917-14.917-14.917H14.917      C6.677,159.861,0,166.538,0,174.779S6.677,189.696,14.917,189.696z"></path>
      <path d="M189.693,14.92c0-8.24-6.677-14.917-14.917-14.917c-8.24,0-14.917,6.677-14.917,14.917v112.714      c0,8.24,6.677,14.917,14.917,14.917c8.24,0,14.917-6.677,14.917-14.917V14.92z"></path>
      <path d="M349.557,174.779c0-8.24-6.677-14.917-14.917-14.917H221.926c-8.24,0-14.917,6.677-14.917,14.917      s6.677,14.917,14.917,14.917H334.64C342.874,189.696,349.557,183.019,349.557,174.779z"></path>
      <path d="M159.858,334.637c0,8.24,6.677,14.917,14.917,14.917c8.24,0,14.917-6.677,14.917-14.917V221.923      c0-8.24-6.677-14.917-14.917-14.917c-8.24,0-14.917,6.677-14.917,14.917V334.637z"></path>
    </g>
  </symbol>
</svg>

<style>
  #root {
    min-height: 0;
    height: calc(100% - 50px);
  }
</style>
<div id="root"></div>
<div id="share-modal" class="modal-wrapper hidden"></div>

<script type="text/javascript">
  window.route = 'Map';
</script>

<% content_for :external_js do %>
    <script id="library-load" src="//wri-sites.s3.amazonaws.com/gfw-mapbuilder.org/library.gfw-mapbuilder.org/<%= @site_page.content['version'] || '1.1.12' %>.js"></script>

    <script>
      var mapDatabaseConfig = JSON.parse('<%= @site_page.content.nil? ? '{}' : @site_page.content['settings'].squish.gsub("'", %q(\\\')).html_safe %>')
      var mapConfig = Object.assign(mapDatabaseConfig, {
        language: 'en',
        title: '<%= @site_page.site.name %>',
        labels: {
          en: {
            title: '<%= @site_page.site.name %>',
            subtitle: '<%= @site_page.description %>'
          }
        }
      });

      var ll = new MapBuilder({
        el: 'root', //We need a div ID, not a class
        config: mapConfig,
        version: '<%= @site_page.content['version'] || '1.1.12' %>'//,
        //base: ""
      });
    </script>
<% end %>
