<div class="c-dropdown-selector -{{align}} {{#if arrowPosition}}-arrow-{{arrowPosition}}{{/if}} {{#if fixedWidth}}-fixed-width{{/if}}">
  <div class="active-option js-list-btn" tabindex="0" aria-label="Open list of languages" aria-controls="language-selector">{{#if useShortName}}{{activeOption.shortName}}{{else}}{{activeOption.name}}{{/if}}</div>
  <ul id="language-selector" class="options js-dropdown" role="listbox" aria-expanded="false">
    {{#each options}}
      {{#if_eq id ../activeOption.id}}
        {{#unless ../fixedOption}}
          {{#if separator}}
            <li role="option" tabindex="-1" class="option js-option -active -separator" data-id="{{id}}">
              {{name}}
            </li>
          {{else}}
            <li role="option" tabindex="0" class="option -active js-option" data-id="{{id}}">
              {{name}}
            </li>
          {{/if}}
        {{/unless}}
      {{else}}
        {{#if separator}}
          <li role="option" tabindex="-1" class="option js-option -separator" data-id="{{id}}">
            {{name}}
          </li>
        {{else}}
          <li role="option" tabindex="-1" class="option js-option" data-id="{{id}}">
            {{name}}
          </li>
        {{/if}}
      {{/if_eq}}
    {{/each}}
  </ul>
</div>
