<div class="c-dropdown-selector -{{align}}">
  <div class="active-option js-list-btn" tabindex="0" aria-label="Open list of languages" aria-controls="language-selector">{{#if useShortName}}{{activeOption.shortName}}{{else}}{{activeOption.name}}{{/if}}</div>
  <ul id="language-selector" class="options js-dropdown" role="listbox" aria-expanded="false">
    {{#each options}}
      <li role="option" tabindex="{{#if_eq id ../activeOption.id}}0{{else}}-1{{/if_eq}}" class="option {{#if_eq id ../activeOption.id}}-active{{/if_eq}} js-option" data-id="{{id}}">
        {{name}}
      </li>
    {{/each}}
  </ul>
</div>
