<table role="grid" aria-readonly="true" aria-rowcount="{{totalResults}}">
  <caption>
    {{tableName}}, sorted by {{sortColumn}}: {{sortOrder}}
  </caption>
  {{#if error}}
    <tr class="error">
      <td>{{error}}</td>
    </tr>
  {{else}}
    {{#if headers}}
      <tr class="header js-header" role="row" aria-rowindex="1">
        {{#each headers}}
          <th class="-order-{{sort}}" aria-sort="{{#if sort}}{{sort}}{{else}}none{{/if}}" tabindex="{{#if sort}}0{{else}}-1{{/if}}" role="columnheader">{{name}}</th>
        {{/each}}
      </tr>
    {{else}}
      <tr class="no-data" role="row">
        <td role="gridcell">No data</td>
      </tr>
    {{/if}}
    {{#each rows}}
      <tr role="row" aria-rowindex="{{rowIndex}}" {{#unless enabled}} class="-disabled" {{/unless}}>
        {{#each this}}
          {{#if_eq @key 'rowIndex'}}
          {{else}}
            {{#if_eq @key 'enabled'}}
            {{else}}
              <td role="gridcell" aria-rowindex="{{../rowIndex}}">
                {{#if html}}
                  <span class="row-name">{{name}}</span><span class="row-content"> {{{html}}} </span>
                {{else}}
                  {{#is_array value}}
                    <span class="row-name">{{name}}</span>
                    <span class="row-content">
                      {{#if_eq name 'metadata'}}
                        <button type="button" class="c-table-action-button -info js-metadata-info" data-values="{{value}}">Info</button>
                      {{else}}
                        {{#each_slice value ../../valuesPerCell}}
                          {{#if @last_sliced_item}}
                            {{this}} <button type="button" class="more-button js-more" data-column="{{../name}}" data-values="{{../value}}">and more</button>
                          {{else}}
                            {{#if @last_item}}
                              {{this}}
                            {{else}}
                              {{this}},
                            {{/if}}
                          {{/if}}
                        {{else}}
                          –
                        {{/each_slice}}
                      {{/if_eq}}
                    </span>
                  {{else}}
                    {{#if value}}
                      {{#if link}}
                        <span class="row-name">{{name}}</span><span class="row-content"> <a href="{{link.url}}" {{#if link.external}}target="_blank"{{/if}} rel="noopener">{{value}}</a> </span>
                      {{else}}
                        <span class="row-name">{{name}}</span><span class="row-content"> {{value}} </span>
                      {{/if}}
                    {{else}}
                      <span class="row-name">{{name}}</span><span class="row-content"> – </span>
                    {{/if}}
                  {{/is_array}}
                {{/if}}
              </td>
              {{/if_eq}}
          {{/if_eq}}
        {{/each}}
      </tr>
    {{else}}
      {{#if isSearchResult}}
        <tr class="no-result" role="row">
          <td role="gridcell" colspan="{{columnCount}}">No result</td>
        </tr>
      {{else}}
        <tr class="no-data" role="row">
          <td role="gridcell" colspan="{{columnCount}}">No data</td>
        </tr>
      {{/if}}
    {{/each}}
  {{/if}}
</table>

<div class="action-bar">
  <div class="rows-per-page">
    <label for="rows-per-page">Rows per page</label>
    <div class="c-select -mini">
      <select id="rows-per-page" class="js-results-per-page">
        {{#each resultsPerPageOptions}}
          <option value="{{this}}" {{#if_eq this ../resultsPerPage}}selected="selected"{{/if_eq}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="paginator">
    <button type="button" class="c-button -mini -arrow-left js-prev-page {{#if_eq firstResultIndex 1}}-disabled{{/if_eq}}"
    {{#if_eq firstResultIndex 1}}disabled{{/if_eq}}>Previous page</button>
    {{firstResultIndex}}-{{lastResultIndex}} of {{totalResults}}
    <button type="button" class="c-button -mini -arrow-right js-next-page {{#if_eq lastResultIndex totalResults}}-disabled{{/if_eq}}"
    {{#if_eq lastResultIndex totalResults}}disabled{{/if_eq}}>
    Next page</button>
  </div>
</div>
