<table role="grid" aria-readonly="true">
  <caption>
    {{tableName}}, sorted by {{sortColumn}}: {{sortOrder}}
  </caption>
  {{#if error}}
    <tr class="error">
      <td>{{error}}</td>
    </tr>
  {{else}}
    {{#if headers}}
      <tr class="header js-header" role="rowheader">
        {{#each headers}}
          <th class="-order-{{sort}}" aria-sort="{{#if sort}}{{sort}}{{else}}none{{/if}}" tabindex="{{#if sort}}0{{else}}-1{{/if}}" role="columnheader">{{name}}</th>
        {{/each}}
      </tr>
    {{else}}
      <tr class="no-data" role="row">
        <td role="gridcell">No data</td>
      </tr>
    {{/if}}
    {{#each rows}}
      <tr role="row">
        {{#each this}}
          <td role="gridcell">
            {{#if html}}
              {{{html}}}
            {{else}}
              {{#is_array value}}
                {{#each_slice value ../../valuesPerCell}}
                  {{#if @last_sliced_item}}
                    {{this}} <button type="button" class="more-button js-more" data-column="{{../name}}" data-values="{{../value}}">and more</button>
                  {{else}}
                    {{#if @last_item}}
                      {{this}}
                    {{else}}
                      {{this}},
                    {{/if}}
                  {{/if}}
                {{else}}
                  –
                {{/each_slice}}
              {{else}}
                {{#if value}}
                  {{#if link}}
                    <a href="{{link.url}}" {{#if link.external}}target="_blank"{{/if}} rel="noopener">{{value}}</a>
                  {{else}}
                    {{value}}
                  {{/if}}
                {{else}}
                  –
                {{/if}}
              {{/is_array}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{else}}
      {{#if isSearchResult}}
        <tr class="no-result" role="row">
          <td role="gridcell" colspan="{{columnCount}}">No result</td>
        </tr>
      {{else}}
        <tr class="no-data" role="row">
          <td role="gridcell" colspan="{{columnCount}}">No data</td>
        </tr>
      {{/if}}
    {{/each}}
  {{/if}}
</table>

<div class="action-bar">
  <div class="rows-per-page">
    Rows per page:
    <select class="js-results-per-page">
      {{#each resultsPerPageOptions}}
        <option value="{{this}}" {{#if_eq this ../resultsPerPage}}selected="selected"{{/if_eq}}>{{this}}</option>
      {{/each}}
    </select>
  </div>
</div>
