<div class="c-table-modal">
  <h1>{{values.name}}</h1>
  <p>{{values.description}}</p>
  <div class="table-data">
    {{#each values}}
      {{#if_eq @key "description"}}
      {{else}}
        {{#if_eq @key "name"}}
        {{else}}
          <dl>
            <dt>{{humanize @key}}</dt>
            <dd>{{this}}</dd>
          </dl>
        {{/if_eq}}
      {{/if_eq}}
    {{/each}}
  </div>
</div>
