<footer class="c-footer">
  <div class="wrapper">
    <ul class="site-links-list">
      <li class="site-link-item"><%= link_to 'Terms of Service', '/terms-and-privacy', class: 'site-link' %></li>
      <li class="separator"> | </li>
      <li class="site-link-item"><%= link_to 'Contact us', nil, class: 'site-link' %></li>
    </ul>

    <div class="share">
      <span class="share-text">Share the Atlas</span>
      <ul class="share-links-list">
        <li class="share-link-item">
          <a class="share-link -facebook" href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank">
            <svg class="icon icon-Facebook"><use xlink:href="#icon-Facebook"></use></svg>
          </a>
        </li>
        <li class="share-link-item">
          <a class="share-link -twitter" href="https://twitter.com/share?url=<%= request.original_url %>" target="_blank">
            <svg class="icon icon-Twitter"><use xlink:href="#icon-Twitter"></use></svg>
          </a>
        </li>
        <li class="share-link-item">
          <a class="share-link -googleplus" href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank">
            <svg class="icon icon-Google"><use xlink:href="#icon-Google"></use></svg>
          </a>
        </li>
        <li class="share-link-item">
          <a class="share-link -linkedin" href="https://www.linkedin.com/shareArticle?url=<%= request.original_url %>&title=<%= @site_page.name + ' - ' + @site_page.site.name %>&summary=<%= @site_page.description %>" target="_blank">
            <svg class="icon icon-Linkedin"><use xlink:href="#icon-Linkedin"></use></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
