<header class="c-header js-header">
  <div class="mobile-drawer js-mobile-drawer">
    <div class="wrapper">
      <ul>
        <li><a href="#">Simple item</a></li>
        <li>
          <a href="">Test</a>
          <ul>
            <li>
              <a href="#">Option 1</a>
              <ul>
                <li><a href="#">Section 1</a></li>
                <li><a href="#">Section 2</a></li>
              </ul>
            </li>
            <li><a href="#">Option 2</a></li>
            <li><a href="#">Option 3</a></li>
            <li><a href="#">Option 4</a></li>
          </ul>
        </li>
        <li><a href="#">Simple item</a></li>
      </ul>
      <ul>
        <li><a href="#">LANG</a></li>
      </ul>
    </div>
  </div>

  <div class="mobile-menu wrapper">
    <a class="logo-container" href="#">
      <div class="logo"></div>
    </a>
    <div class="hamburger-menu js-mobile-menu">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="desktop-menu wrapper">
    <div class="logo-container">
      <a class="logo" href="#"></a>
    </div>
    <ul>
      <li><a href="#">Simple item</a></li>
      <li class="dropdown-item">
        Test
        <ul>
          <li><a href="">Test</a></li>
          <li><a href="#">Option 1</a></li>
          <li><a href="#">Option 2</a></li>
          <li><a href="#">Option 3</a></li>
          <li><a href="#">Option 4</a></li>
        </ul>
      </li>
      <li><a href="#">Simple item</a></li>
      <!--
      <% @menu_root.children.each do |child_page| -%>
        <% if !child_page.children.nil? %>
          <li class="dropdown-item js-menu-dropdown">
            <%= child_page.name %>
            <ul>
              <% child_page.children.each do |grandchild_page| -%>
                <li><a href="<%= grandchild_page.url %>"><%= grandchild_page.name %></a></li>
              <% end -%>
            </ul>
          </li>
        <% else %>
          <li><a href="<%= child_page.url %>"><%= child_page.name %></a></li>
        <% end -%>
      <% end -%>
      -->
    </ul>
    <ul>
      <li><a href="#">LANG</a></li>
  </div>

  <div class="flag-border">
    <!--  Add here a list of div with background color to display the flag -->
    <div style="background-color: #002d84;"></div>
    <div style="background-color: white;"></div>
    <div style="background-color: #20981e;"></div>
    <div style="background-color: #ffcf00;"></div>
    <div style="background-color: #d4062f;"></div>
  </div>

  <div class="sub-menu">
    <div class="wrapper">
      <div class="content">
        <ul class="breadcrumbs">
          <li><a href="">Analyze Data</a></li>
          <li><a href="">Option 1</a></li>
        </ul>
        <ul class="sections">
          <li><a href="">Section 1</a></li>
          <li><a href="">Section 2</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!--
<ul class="desktop-menu">
  <% @menu_root.children.each do |child_page| -%>
      <li><a href="<%= child_page.url %>"><%= child_page.name %></a></li>
      <% if !child_page.children.nil? %>
          <ul class="dropdown_content">
            <% child_page.children.each do |grandchild_page| -%>
                <li><a href="<%= grandchild_page.url %>"><%= grandchild_page.name %></a></li>
            <% end -%>
          </ul>
      <% end -%>
  <% end -%>

</ul>
-->
