<header class="c-header js-header">
  <div class="mobile-drawer js-mobile-drawer">
    <div class="wrapper">
      <ul>
        <% @menu_root.children.each do |child_page| -%>
            <% next unless (child_page.show_on_menu && child_page.visible?) %>
            <li><%= page_link child_page %></li>
            <% unless child_page.children.nil? or child_page.children.empty? %>
              <li>
                <ul>
                  <% child_page.children.each do |grandchild_page| -%>
                    <% next unless (grandchild_page.show_on_menu  && grandchild_page.visible?) %>
                    <li>
                      <%= page_link grandchild_page %>
                    </li>
                    <% unless grandchild_page.children.nil? or grandchild_page.children.empty? %>
                      <li>
                        <ul>
                          <% grandchild_page.children.each do |sub_section| -%>
                              <% next unless sub_section.show_on_menu %>
                              <li><%= page_link sub_section %></li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                  <% end -%>
                </ul>
              </li>
            <% end -%>
        <% end -%>
        <li>
          <form method="get" action="<%= search_results_path(id: @site_page.site_id) %>">
            <div class="c-input-search">
              <input type="input" placeholder="Search" name="search" />
              <button type="submit">Search</button>
            </div>
          </form>
        </li>
      </ul>
      <ul>
        <li class="notranslate js-language-selector-mobile"></li>
      </ul>
      <% if @site_page.site_template.name != 'INDIA' %>
        <%= render 'front/user'%>
      <% end %>
    </div>
  </div>

  <% load_alternate_logo = (@site_page.site_template.name == 'INDIA' and @site_page.content_type != ContentType::HOMEPAGE) %>
  <% if load_alternate_logo %>
    <% @image_url = "http://wri-sites.s3.amazonaws.com/ifmt/NationalAtlasPartnerLogo/Atlas/WRI-Atlas-logo_unit.png" %>
  <% end %>

  <div class="mobile-menu wrapper">
    <div class="logo-container" href="/">
      <a class="logo <%= load_alternate_logo ? 'logo-adjust' : ''%>" href="/">
        <% if @image_url && @image_url != '/' %>
          <%= image_tag(@image_url, alt: 'Logo') %>
        <% elsif @site_page.site_template.name.eql? 'Landscape Application' %>
          <%= image_tag(asset_path('logo.png'), alt: 'Logo') %>
        <% end %>
      </a>
    </div>
    <div class="hamburger-menu js-mobile-menu">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="desktop-menu wrapper">
    <div class="logo-container">
      <a class="logo <%= load_alternate_logo ? 'logo-adjust' : '' %>" href="/">
        <% if @image_url && @image_url != '/' %>
          <%= image_tag(@image_url, alt: 'Logo') %>
        <% elsif @site_page.site_template.name.eql? 'Landscape Application' %>
          <%= image_tag(asset_path('logo.png'), alt: 'Logo') %>
        <% end %>
      </a>
    </div>
      <% if @site_page.depth > 0 and @site_page.site_template.name == 'INDIA' %>
        <div class="sub-menu-background"></div>
        <div class="sub-menu">
          <div class="content">
            <ul class="breadcrumbs">
              <% @breadcrumbs.each_with_index do |breadcrumb, index| -%>
                  <li><a href="<%= breadcrumb.url %>"><%= (index > 0) ? breadcrumb.name : 'Home' %></a></li>
              <% end %>
            </ul>
            <ul class="sections">
              <% if @site_page.depth >= 2 %>
                  <ul>
                    <% (@site_page.depth == 2 ? @site_page.children : @site_page.parent.children).each do |child_page| -%>
                      <% if child_page.visible? %>
                          <li class="<%= (child_page.id == @site_page.id) ? '-active' : '' %>"><%= page_link child_page %></li>
                      <% end %>
                    <% end %>
                  </ul>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <div class="menu-container">
      <div class="menu">
        <ul>
          <% @menu_root.children.each do |child_page| -%>
              <% next unless (child_page.show_on_menu && child_page.visible?) %>
              <li class="<%= 'dropdown-item' if child_page.has_visible_children? %><%= ' -group' if child_page.content_type.equal?(ContentType::GROUP) %><%= (child_page.id == @active_menu_item) ? ' -active' : ''%>">
                <% if @site_page.site_template.name == 'INDIA' and child_page.has_visible_children? %>
                  <%= link_to child_page.name, "#" %>
                <% else %>
                  <%= page_link child_page %>
                <% end %>
                <% if child_page.has_visible_children? %>
                    <ul>
                      <li>
                        <% if @site_page.site_template.name == 'INDIA' %>
                            <% if child_page.name == "About" %>
                              <%= link_to "About the Atlas", child_page.url %>

                            <% elsif child_page.name == "Atlas" %>
                              <%= link_to "Launch Atlas", child_page.url %>
                            <% else %>
                              <%= link_to child_page.name, child_page.url %>
                            <% end %>
                        <% end %>
                      </li>
                      <% child_page.children.each do |grandchild_page| -%>
                          <% next unless (grandchild_page.show_on_menu && grandchild_page.visible?) %>
                          <li>
                            <%= page_link grandchild_page %>
                          </li>
                      <% end -%>
                    </ul>
                <% end -%>
              </li>
          <% end -%>
          <li class="dropdown-item search js-search">
            <button type="button" class="search-button js-search-button" href="<%= search_results_path(id: @site_page.site_id) %>">Search</button>
            <ul>
              <li>
                <form method="get" action="<%= search_results_path(id: @site_page.site_id) %>">
                  <div class="c-input-search">
                    <input type="input" placeholder="Search" name="search" />
                    <button type="submit">Search</button>
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>
        <ul>
          <li class="notranslate js-language-selector"></li>
        </ul>
        <% if @site_page.site_template.name != 'INDIA' %>
          <%= render 'front/user'%>
        <% end %>
      </div>

      <% if @site_page.site_template.name != 'INDIA'%>
        <div class="sub-menu">
          <div class="content">
            <ul class="breadcrumbs">
              <% @breadcrumbs.each_with_index do |breadcrumb, index| -%>
                  <li><a href="<%= breadcrumb.url %>"><%= (index > 0) ? breadcrumb.name : (@breadcrumbs.length > 1 ? 'Home' : '') %></a></li>
              <% end %>
            </ul>
            <ul class="sections">
              <% if @site_page.depth >= 2 %>
                  <ul>
                    <% (@site_page.depth == 2 ? @site_page.children : @site_page.parent.children).each do |child_page| -%>
                      <% if child_page.visible? %>
                          <li class="<%= (child_page.id == @site_page.id) ? '-active' : '' %>"><%= page_link child_page %></li>
                      <% end %>
                    <% end %>
                  </ul>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if @flag.size > 0 %>
    <div class="flag-border">
      <% @flag.each do |flag| %>
        <div style="background-color: <%= flag %>;"></div>
      <% end %>
    </div>
  <% end %>
</header>
