<div class="c-pre-footer">
  <div class="wrapper">
    <div class="partners">
      <span class="intro">A partnership between</span>
      <ul class="logo-list partners-list">
        <li class="logo-item -partners"><img src="<%= image_path('logos/logo-marisla.png') %>" alt="#" class="partner"></li>
        <li class="logo-item -partners"><img src="<%= image_path('logos/logo-skytruth.png') %>" alt="" class="partner"></li>
        <li class="logo-item -partners"><img src="<%= image_path('logos/logo-marisla.png') %>" alt="#" class="partner"></li>
        <li class="logo-item -partners"><img src="<%= image_path('logos/logo-skytruth.png') %>" alt="" class="partner"></li>
        <li class="logo-item -partners"><img src="<%= image_path('logos/logo-marisla.png') %>" alt="" class="partner"></li>
        <li class="logo-item -partners"><img src="<%= image_path('logos/logo-marisla.png') %>" alt="" class="partner"></li>
      </ul>
    </div>
    <div class="supporters">
      <span class="intro">Supported by</span>
      <ul class="logo-list supporters-list">
        <li class="logo-item -supporters"><img src="<%= image_path('logos/logo-skytruth.png') %>" alt="" class="supporter"></li>
        <li class="logo-item -supporters"><img src="<%= image_path('logos/logo-marisla.png') %>" alt="" class="supporter"></li>
        <li class="logo-item -supporters"><img src="<%= image_path('logos/logo-skytruth.png') %>" alt="" class="supporter"></li>
        <li class="logo-item -supporters"><img src="<%= image_path('logos/logo-marisla.png') %>" alt="" class="supporter"></li>
        <li class="logo-item -supporters"><img src="<%= image_path('logos/logo-skytruth.png') %>" alt="" class="supporter"></li>
      </ul>
    </div>
  </div>
</div>
