<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Select columns</h1>
        <p>Select the columns you want to use for the graphs and the map</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', \
  locals: {form_steps: wizard_steps, id: @widget.id, current_step: step, step_names: @steps_names} %>

<%= form_for @widget, url: wizard_path, method: :put do |f| %>
  <div class="l-page-creation -columns">
    <div class="wrapper">
      <div class="c-cards-list">
        <% @fields.each do |field|%>
          <div class="card -single-data">
            <label for="column-<%= field[:name] %>"><%= field[:name] %></label>
            <%= check_box_tag "widget[visible_fields][]",
                              field[:name], @widget.get_columns_visible.include?(field[:name]),
                              id: 'column-' + field[:name] %>
            <div class="content">
              <h3><%= field[:name] %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: {f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @widget } %>

<%= console if Rails.env.development? %>
