<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Apply filters</h1>
        <p>Filter the dataset and choose which columns the users will be able to filter themselves on the dashboard</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: wizard_steps, id: @widget.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>


<%= form_for(@widget, url: wizard_path, method: :put, :html => {:class => 'js-form'}) do |f| %>
  <div class="l-page-creation -filters">
    <div class="wrapper">
      <div class="js-filters"></div>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: {f: f, cancel: management_site_widgets_path(@site.slug)} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @widget } %>
