<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Select visualization</h1>
        <p>Please use the selector below the chart to change its type and choose the columns you want to use</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', \
  locals: {form_steps: wizard_steps, id: @widget.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>


<%= form_for @widget, url: wizard_path, method: :put do |f| %>
  <%= render partial: 'management/steps_shared/footer',
             locals: {f: f, cancel: management_site_widgets_path(@site.slug), \
                always_save: true, no_continue: true, wide: true } %>

  <div class="l-widget-creation -visualization">
    <div class="wrapper">
      <div class="graph js-chart"></div>
      <input type="hidden" name="widget[visualization]" class="js-chart-input" value="" />
    </div>
  </div>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @widget} %>
