<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Contexts</h1>
        <p>Choose the contexts and default context</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, resource: @site, current_step: step, step_names: @steps_names} %>
<%= form_for @site, url: wizard_path, method: :put do |f| %>
  <div class="l-site-creation -users">
    <div class="wrapper">
      <div class="c-cards-list">
        <% @contexts.each_with_index do |context, i| %>
          <%= saved_context = ContextSite.find_by(site_id: @site.id, context_id: context.id)
            hidden_field_tag("site[context_sites_attributes][#{i}][id]", saved_context.id ) if @site.id && saved_context %>
          <div class="card -single-data js-card">
            <label for="context-<%= context.id %>"><%= context.name %></label>
            <%= check_box_tag "site[context_sites_attributes][#{i}][context_id]", context.id, f.object.context_sites.any? {|c| c.context_id == context.id}, id: ('context-' + context.id.to_s), class: 'js-context' %>
            <div class="content">
              <h3><%= context.name %></h3>
            </div>
            <footer>
              <div class="c-radio">
                <%= radio_button_tag "site[default_context]", i,\
                  f.object.context_sites.find_by(context_id: context.id) && f.object.context_sites.find_by(context_id: context.id).is_site_default_context, id: 'default-context-' + context.id.to_s, class: 'js-default-context' %>
                <label for="default-context-<%= context.id %>" aria-label="<%= context.name %> as context by default">Context by default</label>
              </div>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'footer', locals: { f: f } %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @site } %>
