<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Customize</h1>
        <p>Select a logo, two cover images – one for the homepage and the other for the Open Content pages – and an icon.</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @site.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @site, url: wizard_path, method: :put do |f| %>
  <div class="l-site-creation -settings">
    <div class="wrapper">

      <%= f.fields_for :site_settings, (f.object.site_settings.collect.sort_by{ |s| s.position}) do |settings_form| %>
        <% setting = settings_form.object %>
        <% case setting.name
           when 'logo_image' %>
          <%= settings_form.hidden_field :position, value: '2'%>
          <%= settings_form.hidden_field :name, value: 'logo_image'%>
          <% if !@logo_image.nil? && @logo_image.image_file_name %>
            <div class="c-centered-input">
              <label>Logo preview</label>
              <%= image_tag @logo_image.image.url %>
            </div>
          <% end %>
          <div class="c-centered-input">
            <%= settings_form.label :image, value: 'Logo image', for: 'logo' %>
            <div class="js-file-input">
              <%= settings_form.file_field :image, id: 'logo', accept: 'image/*' %>
            </div>
          </div>
        <% when 'main_image' %>
          <%= settings_form.hidden_field :position, value: '3'%>
          <%= settings_form.hidden_field :name, value: 'main_image'%>
          <% if !@main_image.nil? && @main_image.image_file_name %>
            <div class="c-centered-input">
              <label>Homepage cover preview</label>
              <%= image_tag @main_image.image.url %>
            </div>
          <% end %>
          <div class="c-centered-input">
            <%= settings_form.label :image, value: 'Homepage cover image', for: 'main' %>
            <div class="js-file-input">
              <%= settings_form.file_field :image, id: 'main', accept: 'image/*' %>
            </div>
          </div>
        <% when 'alternative_image' %>
          <%= settings_form.hidden_field :position, value: '4'%>
          <%= settings_form.hidden_field :name, value: 'alternative_image'%>
          <% if !@alternative_image.nil? && @alternative_image.image_file_name %>
            <div class="c-centered-input">
              <label>Content cover preview</label>
              <%= image_tag @alternative_image.image.url %>
            </div>
          <% end %>
          <div class="c-centered-input">
            <%= settings_form.label :image, value: 'Content cover image', for: 'alternative' %>
            <div class="js-file-input">
              <%= settings_form.file_field :image, id: 'alternative', accept: 'image/*' %>
            </div>
          </div>
        <% when 'favico' %>
          <%= settings_form.hidden_field :position, value: '5'%>
          <%= settings_form.hidden_field :name, value: 'favico'%>
          <% if !@favico.nil? && @favico.image_file_name %>
            <div class="c-centered-input">
              <label>Icon image preview</label>
              <%= image_tag @favico.image.url %>
            </div>
          <% end %>
          <div class="c-centered-input">
            <%= settings_form.label :image, value: 'Icon image', for: 'favico' %>
            <div class="js-file-input">
              <%= settings_form.file_field :image, id: 'favico', accept: 'image/*' %>
            </div>
          </div>
        <% when 'flag' %>
          <hr />
          <div class="js-flag-colors"></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'footer', locals: { f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @site } %>
<%= console if Rails.env.development? %>
