<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Customize</h1>
        <p>Get the most out of these last settings to customize your site</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @site.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @site, url: wizard_path, method: :put do |f| %>
  <div class="l-site-creation -settings">
    <div class="wrapper">

      <%= f.fields_for :site_settings, f.object.site_settings do |settings_form| %>
        <% setting = settings_form.object %>
        <% case setting.name
           when 'logo_image' %>
          <%= settings_form.hidden_field :position, value: '2'%>
          <%= settings_form.hidden_field :name, value: 'logo_image'%>
          <% if !@logo_image.nil? && @logo_image.image_file_name %>
            <div class="c-centered-input">
              <label>Logo preview</label>
              <%= image_tag @logo_image.image.url %>
            </div>
          <% end %>
          <div class="c-centered-input">
            <%= settings_form.label :image, value: 'Logo image', for: 'logo' %>
            <div class="js-file-input">
              <%= settings_form.file_field :image, id: 'logo', accept: 'image/*' %>
            </div>
          </div>
        <% when 'logo_background' %>
          <%= settings_form.hidden_field :name, value: 'logo_background'%>
          <%= settings_form.hidden_field :position, value: '3'%>
          <div class="c-centered-input">
            <%= settings_form.label :name, value: 'Logo background' %>
            <%= settings_form.color_field :value %>
          </div>
        <% when 'flag' %>
          <hr />
          <div class="js-flag-colors"></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'footer', locals: { f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @site } %>

