<%= render partial: 'header'%>
<%= render partial: 'shared/errors', locals: { resource: @site } %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @site, url: wizard_path, method: :put do |f| %>
  <div class="l-site-creation -settings">
    <div class="wrapper">
      <h1>Customize</h1>
      <p class="intro">Get the most out of these last settings to customize your site.</p>

      <%= f.fields_for :site_settings, f.object.site_settings do |settings_form| %>
        <% setting = settings_form.object %>
        <% case setting.name
           when 'logo_image' %>
          <%= settings_form.hidden_field :position, value: '2'%>
          <%= settings_form.hidden_field :name, value: 'logo_image'%>
          <div class="c-centered-input">
            <%= settings_form.label :image, value: 'Logo image', for: 'logo' %>
            <div class="js-file-input">
              <%= settings_form.file_field :image, id: 'logo', accept: 'image/*' %>
            </div>
          </div>
        <% when 'logo_background' %>
          <%= settings_form.hidden_field :name, value: 'logo_background'%>
          <%= settings_form.hidden_field :position, value: '3'%>
          <div class="c-centered-input">
            <%= settings_form.label :name, value: 'Logo background' %>
            <%= settings_form.color_field :value %>
          </div>
          <hr />
        <% when 'flag' %>
            <div class="js-flag-colors"></div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'footer', locals: { f: f} %>
<% end %>

