<%= render partial: 'header'%>
<%= render partial: 'shared/errors', locals: { resource: @site } %>
<%= include_gon %>

<h1>CUSTOMIZE</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

<%= form_for @site, url: wizard_path, method: :put do |f| %>
    <%= f.fields_for :site_settings, f.object.site_settings do |settings_form| %>
        <% setting = settings_form.object %>
          <% case setting.name
               when 'logo_image' %>
              <%= settings_form.label :name, class: 'col-sm-2 form-control-label' , value: 'LOGO IMAGE' %>
              <div class="col-sm-10">
                <%= image_tag setting.image.url(:thumb), class: 'thumbnail', height: '100', width: '100' %>
                <%= settings_form.file_field :image, class: 'image-uploader' %>
                <%= settings_form.hidden_field :name, value: 'logo_image'%>
                <%= settings_form.hidden_field :position, value: '2'%>
              </div>
            <% when 'logo_background' %>
              <%= settings_form.label :name, class: 'col-sm-2 form-control-label' , value: 'LOGO BACKGROUND' %>
              <div class="col-sm-10">
                <%= settings_form.color_field :value %>
                <%= settings_form.hidden_field :name, value: 'logo_background'%>
                <%= settings_form.hidden_field :position, value: '3'%>
              </div>
            <% when 'flag' %>
              <%= settings_form.label :name, class: 'col-sm-2 form-control-label' , value: 'FLAG COLORS' %>
              <div class="col-sm-10">
                <%= settings_form.fields_for :flag_colors do |colors_form| %>
                      <% if !colors_form.object.nil? %>
                          <%= colors_form.color_field :value %>
                          <%= settings_form.hidden_field :name, value: 'flag'%>
                          <%= settings_form.hidden_field :position, value: '4'%>
                      <% end %>
                  <% end %>
                  <% if setting.flag_colors.count < 5 %>
                      <div class="js-flag-colors"></div>
                  <% end %>
                </div>
          <% end %>
    <% end %>
    <%= render partial: 'footer', locals: { f: f} %>
<% end %>

<%= console if Rails.env.development? %>
