<% content_for :extended_header do %>
    <div class="c-extended-header">
      <div class="wrapper">
        <div class="description">
          <h1>Site Settings</h1>
          <p>Configure other aspects of your site - like translations or contact email address</p>
        </div>
      </div>
    </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @site.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @site, url: wizard_path, method: :put do |f| %>
    <div class="l-site-creation -site-settings">
      <div class="wrapper">
        <div class="settings c-inputs-container">
        <div class="container">
          <%= f.fields_for :site_settings, \
            (f.object.site_settings.collect.select{|x| %w[translate_english translate_french translate_spanish default_site_language].include?(x.name)}.sort_by { |s| s.position }) do |settings_form|%>
            <% setting = settings_form.object %>
            <% case setting.name when 'default_site_language' %>
              <%= settings_form.hidden_field :position, value: '15' %>
              <%= settings_form.hidden_field :name, value: 'default_site_language' %>
              <div class="c-select">
                <%= settings_form.label 'Default site language', for: 'default_site_language' %>
                <%= settings_form.select :value, {'English' => :en, 'French' => :fr, 'Spanish' => :es}, id: 'default_site_language' %>
              </div>

              <% when 'translate_english' %>
              <%= settings_form.hidden_field :position, value: '7' %>
              <%= settings_form.hidden_field :name, value: 'translate_english' %>
              <div class="c-checkbox">
                <%= settings_form.check_box :value, id: 'translate_english' %>
                <%= settings_form.label 'Allow English translations', for: 'translate_english' %>
              </div>

              <% when 'translate_french' %>
              <%= settings_form.hidden_field :position, value: '8' %>
              <%= settings_form.hidden_field :name, value: 'translate_french' %>

              <div class="c-checkbox">
                <%= settings_form.check_box :value, id: 'translate_french' %>
                <%= settings_form.label 'Allow French translations', for: 'translate_french' %>
              </div>

              <% when 'translate_spanish' %>
              <%= settings_form.hidden_field :position, value: '9' %>
              <%= settings_form.hidden_field :name, value: 'translate_spanish' %>

              <div class="c-checkbox">
                <%= settings_form.check_box :value, id: 'translate_spanish' %>
                <%= settings_form.label 'Allow Spanish translations', for: 'translate_spanish' %>
              </div>
              <% end %>
          <% end %>
        </div>
          <%= f.fields_for :site_settings, (f.object.site_settings.collect.sort_by { |s| s.position }) do |settings_form| %>
              <% setting = settings_form.object %>
              <% case setting.name when 'pre_footer' %>
                  <%= settings_form.hidden_field :position, value: '10' %>
                  <%= settings_form.hidden_field :name, value: 'pre_footer' %>

                  <div class="container -big">
                    <%= settings_form.label 'Pre-footer', for: 'pre_footer' %>
                    <%= settings_form.text_area :value, id: 'pre_footer' %>
                  </div>

              <% when 'analytics_key' %>
                  <%= settings_form.hidden_field :position, value: '11' %>
                  <%= settings_form.hidden_field :name, value: 'analytics_key' %>

                  <div class="container -big">
                    <%= settings_form.label 'Analytics key', for: 'analytics_key' %>
                    <%= settings_form.text_field :value, id: 'analytics_key' %>
                  </div>

              <% when 'keywords' %>
                  <%= settings_form.hidden_field :position, value: '12' %>
                  <%= settings_form.hidden_field :name, value: 'keywords' %>

                  <div class="container -big">
                    <%= settings_form.label 'Keywords', for: 'keywords' %>
                    <%= settings_form.text_area :value, id: 'keywords' %>
                  </div>

              <% when 'contact_email_address' %>
                  <%= settings_form.hidden_field :position, value: '13' %>
                  <%= settings_form.hidden_field :name, value: 'contact_email_address' %>

                  <div class="container -big">
                    <%= settings_form.label 'Contact email address', for: 'contact_email_address' %>
                    <%= settings_form.text_field :value, id: 'contact_email_address' %>
                  </div>

              <% when 'hosting_organization' %>
                  <%= settings_form.hidden_field :position, value: '14' %>
                  <%= settings_form.hidden_field :name, value: 'hosting_organization' %>

                  <div class="container -big">
                    <%= settings_form.label 'Hosting organization', for: 'hosting_organization' %>
                    <%= settings_form.text_field :value, id: 'hosting_organization' %>
                  </div>

              <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render partial: 'footer', locals: {f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: {resource: @site} %>
