<%= render partial: 'header'%>
<%= render partial: 'shared/errors', locals: { resource: @site } %>
<%= include_gon %>

<div class="l-site-creation -style">
  <div class="wrapper">
    <h1>Style</h1>
    <p class="intro">Choose one of the two templates below and its main color.</p>

    <%= form_for @site, url: wizard_path, method: :put do |f| %>
      <div class="templates">
        <% SiteTemplate.all.each do |template| %>
          <div class="template">
            <%= f.label template.name, for: ('template-' + template.id.to_s) %>
            <%= f.radio_button :site_template_id, template.id, :checked => f.object.site_template_id.equal?(template.id), :id => ('template-' + template.id.to_s) %>
            <div class="content">
              <%= image_tag (template.name == 'Forest Atlas' ? 'fa-preview.jpg' : 'lsa-preview.jpg'), alt: template.name %>
              <p><%= template.name %></p>
            </div>
          </div>
        <% end %>
      </div>

      <hr />

      <%= f.fields_for :site_settings, f.object.site_settings.select{|v| v.name == 'color'} do |color_form| %>
          <%= color_form.hidden_field :id %>
          <%= color_form.hidden_field :name, value: 'color' %>
          <%= color_form.hidden_field :position, value: '1' %>
          <div class="c-centered-input">
            <label for="color">Theme color</label>
            <%= color_form.color_field :value, id: 'color' %>
          </div>
      <% end %>

      <%= render partial: 'form_footer', locals: { f: f } %>
  <% end %>
  </div>
</div>

<%= render partial: 'footer' %>



