<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Template</h1>
        <p>Choose one of the two templates below and its main color</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @site.id, current_step: step, step_names: @steps_names} %>
<%= include_gon %>

<%= form_for @site, url: wizard_path, method: :put do |f| %>
  <div class="l-site-creation -style">
    <div class="wrapper">

      <div class="templates">
        <% SiteTemplate.all.each do |template| %>
          <div class="template">
            <%= f.label template.name, for: ('template-' + template.id.to_s), class: 'js-template-label', tabindex: '0' %>
            <% if f.object.id %>
              <%= f.radio_button :site_template_id, template.id, :checked => f.object.site_template_id.equal?(template.id),  :id => ('template-' + template.id.to_s) %>
          <% else %>
              <%= f.radio_button :site_template_id, template.id, :checked => f.object.site_template_id.equal?(template.id), :id => ('template-' + template.id.to_s) %>
          <% end %>
            <div class="content">
              <p><%= template.name %></p>
              <% template_name = nil %>
              <% if template.name == 'Default'
                  template_name = 'fa-preview.jpg'
                else
                  template_name = 'ind-preview.png'
                end
              %>
              <%= image_tag (template_name), alt: template.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: 'footer', locals: { f: f } %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @site } %>
