<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @site.id, current_step: step, step_names: @steps_names} %>
<%= form_for @site, url: wizard_path, method: :put do |f| %>
  <div class="l-site-creation -users">
    <div class="wrapper">
      <h1>Users</h1>
      <p class="intro">Choose which user can manage the site.</p>
        <div class="c-users-list">
          <% @users.each do |user| %>
            <div class="user">
              <label for="user-<%= user.id %>"><%= user.name %></label>
              <%= check_box_tag "site[user_ids][]", user.id, f.object.users.include?(user), id: ('user-' + user.id.to_s) %>
              <div class="content">
                <h3><%= user.name %></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <%= render partial: 'footer', locals: { f: f } %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @site } %>
