<div class="c-extended-header">
  <div class="wrapper">
    <div class="description">
      <h1>Sites</h1>
      <p>Select the sites belonging to the context</p>
    </div>
  </div>
</div>

<%= render partial: 'shared/navigation_header', \
  locals: {form_steps: wizard_steps, resource: @context, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data %>

<%= form_for @context, url: wizard_path, method: :put do |f| %>
  <div class="l-dataset-creation -context">
    <div class="wrapper">
      <div class="c-cards-list">
        <% @permitted_sites.all.each do |site| %>
          <div class="card -single-data">
            <label for="site-<%= site.id%>"><%= site.name%></label>
            <%= check_box_tag 'context[site_ids][]', "#{site.id}", f.object.sites.include?(site), id: "site-#{site.id}" %>
            <div class="content">
              <h3><%= site.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: { f: f, cancel: contexts_path} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @context } %>
