<div class="c-extended-header">
  <div class="wrapper">
    <div class="description">
      <h1>Context title</h1>
      <p>Choose a name for the context</p>
    </div>
  </div>
</div>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, resource: @context, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data %>

<%= form_for @context, url: wizard_path, method: :put do |f| %>
  <div class="l-dataset-creation -title">
    <div class="wrapper">
      <div class="c-inputs-container">
        <div class="container">
          <%= f.label :title, for: 'title' %>
          <%= f.text_field :name, id:'name', placeholder: 'Dataset’s title' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: { f: f, cancel: contexts_path} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @context } %>
