<div class="c-extended-header">
  <div class="wrapper">
    <div class="description">
      <h1>Writers</h1>
      <p>Select the persons that will be able to upload datasets to the context and create widgets with them</p>
    </div>
  </div>
</div>

<%= render partial: 'shared/navigation_header', \
  locals: {form_steps: wizard_steps, resource: @context, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data %>

<%= form_for @context, url: wizard_path, method: :put do |f| %>
  <div class="l-dataset-creation -context">
    <div class="wrapper">
      <div class="c-cards-list">
        <% @permitted_writers.each do |user|%>
          <div class="card -single-data">
            <label for="writer-<%= user.id%>"><%= user.name%></label>
            <%= check_box_tag 'context[writer_ids][]', "#{user.id}", f.object.writers.include?(user), id: "writer-#{user.id}" %>
            <div class="content">
              <h3><%= user.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: { f: f, cancel: contexts_path} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @context } %>
