<div class="c-action-bar">
  <div class="wrapper">
    <%= link_to 'Cancel', admin_users_path, class: 'c-button -outline -dark-text js-cancel' %>
    <div>
      <% if @user.id %>
        <% unless local_assigns[:finish] %>
          <%= f.button Admin::UserStepsController::CONTINUE, value: Admin::UserStepsController::CONTINUE, type: 'submit', method: :put, class: 'c-button -outline -dark-text' %>
        <% end %>
        <%= f.button Admin::UserStepsController::SAVE, value: Admin::UserStepsController::SAVE, type: 'submit', method: :put, class: 'c-button' %>
      <% else %>
        <% if local_assigns[:finish] %>
          <%= f.button Admin::UserStepsController::SAVE, value: Admin::UserStepsController::SAVE, type: 'submit', method: :put, class: 'c-button' %>
        <% else %>
          <%= f.button Admin::UserStepsController::CONTINUE, value: Admin::UserStepsController::CONTINUE, type: 'submit', method: :put, class: 'c-button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
