<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>User contexts</h1>
        <p>Please choose which contexts the user belongs to</p>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @user.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @user, url: wizard_path, method: :put do |f| %>
  <div class="l-user-creation -contexts">
    <div class="wrapper">

      <div class="c-cards-list">
        <% ::Context.all.each do |context| %>
          <div class="card">
            <label for="context-<%= context.id %>"><%= context.name %></label>
            <%= check_box_tag "user[context_ids][]", context.id, f.object.contexts.include?(context), id: ('context-' + context.id.to_s) %>
            <div class="content">
              <h3><%= context.name %></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="js-identity"></div>

    </div>
  </div>
  <%= render partial: 'footer', locals: { f: f, finish: true} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @user } %>
