<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @user.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data(camel_case: true, camel_depth: 3) %>

<%= form_for @user, url: wizard_path, method: :put do |f| %>
  <div class="l-user-creation -role">
    <div class="wrapper">
      <h1>User role</h1>
      <p class="intro">Please choose a role for the user.</p>

      <div class="c-role-list">
          <div class="role">
            <label for="admin">admin</label>
            <%= check_box_tag "site[user_ids][]", id: ('admin') %>
            <div class="content">
              <h3>Admin</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
          <div class="role">
            <label for="admin">management</label>
            <%= check_box_tag "site[user_ids][]", id: ('management') %>
            <div class="content">
              <h3>management</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
      </div>

      <div class="js-identity"></div>

    </div>
  </div>
  <%= render partial: 'footer', locals: { f: f} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @user } %>
