<%= form_for([:admin, context], :html => { :class =>'c-form-basic' }) do |f| %>
    <% if context.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(context.errors.count, "error") %> prohibited this context from being saved:</h2>

          <ul>
            <% context.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="container-input">
      <%= f.label :name, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :name,placeholder:'name', class: 'c-input' %></div>
    </fieldset>

    <div class="footer-form">
        <%= f.submit class: 'c-button -primary' %>
        <%= link_to 'Show', admin_context_path(context), class: 'c-button -secondary' unless context.id.nil? %>
        <%= link_to 'Back', admin_contexts_path, class: 'c-button -secondary' %>
      </div>
<% end %>
