<input type="hidden" id="{{inputId}}_id" name="{{inputName}}[value]" value="{{colorValue}}" class="js-color-input">
<input type="hidden" id="{{inputId}}_name" name="{{inputName}}[name]" value="{{colorName}}">
<input type="hidden" id="{{inputId}}_position" name="{{inputName}}[position]" value="1">
<div class="theme-color js-theme-color">
  <p>{{title}}</p>
  <input type="text" value="{{color}}" disabled="disabled" class="input-text">
  <input type="color" value="{{color}}" id="color" class='input-color'>
  <label for="color" tabindex="0" class="js-label">{{label}}</label>
</div>
