<div class="c-urls-input">
  {{#each urls}}
    <div>
      {{#if id}}
        <input type="hidden" value="{{id}}" name="{{../inputName}}[{{@index}}][id]">
      {{/if}}
      <label for="url-{{../urls.length}}">{{#if @index}}Additional URL{{else}}Main URL{{/if}}</label>
      <input type="url" value="{{url}}" placeholder="https://www.my-site.com" data-id="{{@index}}" name="{{../inputName}}[{{@index}}][host]" id="url-{{../urls.length}}">
      <button type="button" class="remove-url js-remove-url" data-id="{{@index}}">Remove</button>
    </div>
  {{/each}}
  <div>
    <label for="url-0">{{#if urls.length}}Additional URL{{else}}Main URL{{/if}}</label>
    <input type="url" value="" placeholder="{{#if urls.length}}Additional URL{{else}}Main URL{{/if}}" name="{{inputName}}[{{urls.length}}][host]" id="url-0">
  </div>
  <button type="button" class="add-url js-add-url">ADD URL</button>
</div>
