<ul class="c-url-colors">
    {{#each urls}}
        <li>
            {{#if id}}
                <input type="hidden" value="{{id}}" name="{{../inputName}}[{{@index}}][id]">
            {{/if}}
            <input type="text" value="{{url}}" placeholder="https://www.my-site.com" data-id="{{@index}}" name="{{../inputName}}[{{@index}}][host]">
            <button type="button" class="js-remove-url" data-id="{{@index}}">Remove Url</button>
        </li>
    {{/each}}
    <li>
        <input type="text" value="" placeholder="https://www.my-site.com" name="{{inputName}}[{{urls.length}}][host]">
    </li>
    <li>
        <button type="button" class="js-add-url">ADD URL</button>
    </li>
</ul>
