<%= form_for([:admin, site_template], :html => { :class =>'c-form-basic' }) do |f| %>
    <% if site_template.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(site_template.errors.count, "error") %> prohibited this site_template from being saved:</h2>

          <ul>
            <% site_template.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="container-input">
      <%= f.label :name, class: 'col-sm-2 form-control-label', class: 'col-sm-2 form-control-label' %>
      <div>
        <%= f.text_field :name,placeholder:'name',  class: 'c-input' %>
      </div>
    </fieldset>

    <div class="footer-form">
      <%= f.submit class: 'c-button -primary' %>
      <%= link_to 'Show', admin_site_template_path(site_template), class: 'c-button -primary' unless site_template.id.nil? %>
      <%= link_to 'Back', admin_site_templates_path, class: 'c-button -secondary' %>
    </div>

    </div>
<% end %>
