<% content_for :extended_header do %>
  <div class="c-extended-header -high">
    <div class="wrapper">
      <div class="description">
        <h1>Page creation</h1>
        <p>Please choose which type of page you want to create.</p>
      </div>
      <div></div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/navigation_header', locals: \
  {form_steps: form_steps, id: @page.id, current_step: step, step_names: @steps_names, \
  invalid_steps: @invalid_steps, invalid_state: @page.errors.any?} %>
<%= render partial: 'shared/errors', locals: { resource: @page } %>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <div class="l-page-creation -type">
    <div class="wrapper">
      <div class="c-card-list">
        <div class="card -footer-at-bottom">
          <h3 class="title">Open Content page</h3>
          <p class="description">Create a new page with any type of content you want in.</p>
          <div class="footer">
            <%= button_to 'Create', publish_site_page_step_path(@site.slug), method: :put, params: {id: :type, 'site_page[content_type]': ContentType::OPEN_CONTENT}, class: 'c-button'  %>
          </div>
        </div>
        <div class="card -footer-at-bottom">
          <h3 class="title">Analysis Dashboard</h3>
          <p class="description">Build a dashboard based on a dataset.</p>
          <div class="footer">
            <%= button_to 'Create', publish_site_page_step_path(@site.slug), method: :put, params: {id: :type, 'site_page[content_type]': ContentType::ANALYSIS_DASHBOARD}, class: 'c-button'  %>
          </div>
        </div>
        <div class="card -footer-at-bottom">
          <h3 class="title">Link</h3>
          <p class="description">Add a link to appear in the menus.</p>
          <div class="footer">
            <%= button_to 'Create', publis_site_page_step_path(@site.slug), method: :put, params: {id: :type, 'site_page[content_type]': ContentType::LINK}, class: 'c-button'  %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% content_for :action_bar do %>
    <%= link_to 'Cancel', {controller: 'publish/site_pages', action: 'index', site_slug: @site.slug}, class: 'c-button -outline -dark-text' %>
    <a class="c-button -disabled">Continue</a>
  <% end %>
  <%= render partial: 'publish/steps_shared/footer', locals: {f: f, no_continue: true} %>
<% end %>
