  <!--
  <h1>New <%= @site_page.content_type_humanize %></h1>
  -->

  <!--
  <%= link_to 'Back', {controller: 'management/site_pages', action: 'new', site_slug: @site.slug} unless @site_page.content_type.nil? %>
  <%= link_to 'List', {controller: 'management/site_pages', action: 'index', site_slug: @site.slug} if @site_page.content_type.nil? %>
  -->

<%= render "management/site_pages/forms/#{@partial}", site_page: @site_page, form_for_path: [:management, :site, @site_page] %>

<div class="c-action-bar">
  <div class="wrapper">
    <%= yield :action_bar %>
  </div>
</div>
