<% content_for :extended_header do %>
    <div class="c-extended-header">
      <div class="wrapper">
        <h1><%= @site.name %></h1>
        <ul class="action-buttons">
          <% if local_assigns[:type] == 'dataset' %>
            <li><%= link_to 'New dataset', new_management_site_dataset_step_path, class: 'c-button -outline' %></li>
          <% elsif  local_assigns[:type] == 'widget' %>
            <li><%= link_to 'New widget', new_management_site_widget_step_path, class: 'c-button -outline' %></li>
        <% else %>
            <li><%= link_to 'New page', new_management_site_page_step_path, class: 'c-button -outline' %></li>
         <% end %>
          <% if @url.present? %><li><a href="<%= @url %>" class="c-button">Go to site</a></li><% end %>
        </ul>
      </div>
    </div>
<% end %>
