<div class="c-header">
  <div class="wrapper">
    <div>
      <div class="site-switcher js-site-switcher"></div>
      <% unless @breadcrumbs.blank? %>
        <ul class="breadcrumbs">
          <% @breadcrumbs.each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div>
      <%= link_to 'Logout', destroy_user_session_path, {:method => :delete} %>
    </div>
  </div>
</div>

<!--<nav class="navbar navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <%= link_to 'Content Management', management_url, class: 'navbar-brand' %>
    <div class="js-site-switcher"></div>
    <% unless @site.nil? %>
        <h2 class="navbar-brand">
          <%= link_to @site.name, {controller: 'management/site_pages', action: 'index', site_slug: @site.slug} %>
        </h2>
    <% end %>
    <% if user_can? 'access_management' %>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav pull-xs-right">
          <% if current_user.admin? %>
              <li class="nav-item"><%= link_to 'Admin interface', admin_path, {class: 'nav-link'} %></li>
          <% end %>
          <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, {class: 'nav-link', :method => :delete} %></li>
        </ul>
    <% end %>
  </div>
</nav>-->
