<h3>Language Settings</h3>

<%= form.fields_for :settings, @page.settings_structure do |settings| %>
  <% fields = {
      'language': %w[en fr pt es ka id zh],
      'useAlternativeLanguage': :check_box,
      'alternativeLanguage': ['', :en, :fr, :pt, :es, :ka, :id, :zh],
      'alternativeWebMap': :text_field,
      'alternativeLanguageTitle': :text_field,
      'alternativeLanguageSubtitle': :text_field,
      'alternativeNarrative': :text_field,
      'alternativeWebmapMenuName': :text_field
  } %>
  <% fields.each do |field| %>
    <div class="container">
      <% if field.last.is_a? Array %>
        <%= eval("settings.label :#{field.first}, '#{field.first.capitalize}'") %>
        <%= eval("settings.select '#{field.first}', #{field.last}")%>
      <% elsif field.last.to_s == 'check_box' %>
        <div class="c-checkbox">
          <%= settings.check_box field.first, id: field.first %>
          <%= settings.label field.first.capitalize, for: field.first %>
        </div>
      <% else %>
        <%= eval("settings.label :#{field.first}, '#{field.first.capitalize}'") %>
        <%= eval("settings.#{field.last} :#{field.first}") %>
      <% end %>
    </div>
  <% end %>
<% end %>
