<%= javascript_pack_tag 'application' %>

<div class="c-extended-header">
  <div class="wrapper">
    <div class="description">
      <h1>Metadata</h1>
      <p>Metadata is used to provide users with additional information about your dataset. It should be entered in the primary language of your site, but can be also be translated if your site supports multiple language.</p>
    </div>
  </div>
</div>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @dataset.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data %>

<%= form_for @dataset, url: wizard_path, method: :put do |f| %>
  <%= react_component('ManagementDatasetMetadata', {
    languages: { en: 'English', fr: 'French' },
    defaultLanguage: 'fr',
    metadata: {
      en: {
        description: 'I\'m a description',
        citation: 'I\'m a citation',
        source: 'I\'m a source'
      },
      fr: {
        description: 'Je suis une description',
        citation: 'Je suis une citation'
      }
    }
  }) %>

  <%= render partial: 'management/steps_shared/footer', locals: { f: f, cancel: management_site_datasets_path(@site.slug)} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @dataset } %>
