<%= javascript_pack_tag 'application' %>

<div class="c-extended-header">
  <div class="wrapper">
    <div class="description">
      <h1>Aliases</h1>
      <p>Assign aliases and descriptions to the columns of your dataset to help users better understand them in the dashboards and widgets.</p>
    </div>
  </div>
</div>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @dataset.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data %>

<%= form_for @dataset, url: wizard_path, method: :put do |f| %>
  <%= react_component('ManagementDatasetAliases', {
    metadataId: @metadata_id,
    defaultLanguage: @default_language,
    columns: @metadata_columns
  }) %>

  <%= render partial: 'management/steps_shared/footer', locals: { f: f, cancel: management_site_datasets_path(@site.slug), no_continue: true} %>
<% end %>

<%= render partial: 'shared/errors', locals: { resource: @dataset } %>
