<div class="c-extended-header">
  <div class="wrapper">
    <div class="description">
      <h1>Dataset title</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
    </div>
  </div>
</div>

<%= render partial: 'shared/navigation_header', locals: {form_steps: wizard_steps, id: @dataset.id, current_step: step, step_names: @steps_names} %>
<%= Gon::Base.render_data %>

<%= form_for @dataset, url: wizard_path, method: :put do |f| %>
  <div class="l-dataset-creation -title">
    <div class="wrapper">
      <div class="c-inputs-container">
        <div class="container">
          <%= f.label :title, for: 'title' %>
          <%= f.text_field :name, id:'name', placeholder: 'Dataset’s title' %>
        </div>
        <div class="container">
          <%= f.label :tags, for: 'tags' %>
          <%= f.text_field :tags, id:'tags', placeholder: 'Dataset’s tags' %>
        </div>
      </div>

      <div class="js-tags"></div>

    </div>
  </div>
  <%= render partial: 'management/steps_shared/footer', locals: { f: f, cancel: management_site_datasets_path(@site.slug)} %>
<% end %>
<%= render partial: 'shared/errors', locals: { resource: @dataset } %>
