<%= form_for([:admin, page_template], :html => { :class =>'c-form-basic' }) do |f| %>
    <% if page_template.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(page_template.errors.count, "error") %> prohibited this page_template from being saved:</h2>

          <ul>
            <% page_template.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="container-input">
      <%= f.label :name, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :name, class: 'c-input' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :description, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :description, class: 'c-input' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :content, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.cktext_area :content, class: 'c-input -textarea' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :uri, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :uri, class: 'c-input' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :url, class: 'col-sm-2 form-control-label' %>
      <div class="col-sm-10"><%= f.text_field :url, class: 'c-input', disabled: 'true' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :site_id, class: 'col-sm-2 form-control-label' %>
      <div class="container-select">
        <%= f.collection_select :site_id, Site.all, :id, :name, {}, {class: 'c-input -select'} %>
      </div>
    </fieldset>

    <div class="footer-form">
      <%= f.submit class: 'c-button -primary' %>
      <%= link_to 'Show', admin_page_template_path(page_template), class: 'c-button -secondary' unless page_template.id.nil? %>
      <%= link_to 'Back', admin_page_templates_path, class: 'c-button -secondary' %>
    </div>
<% end %>
