<div class="c-action-bar <%= local_assigns[:wide] ? '-wide' : '' %>">
  <div class="wrapper">
    <% if local_assigns[:cancel] %>
      <%= link_to 'Cancel', local_assigns[:cancel], class: 'c-button -outline -dark-text' %>
  <% else %>
      <%= link_to 'Cancel', management_site_site_pages_path(@site.slug), class: 'c-button -outline -dark-text' %>
  <% end %>
    <div>
      <% if !local_assigns.key?(:continue) || local_assigns[:continue] %>
        <% if local_assigns[:publish] %>
          <input type="hidden" name="button" value=<%= Management::PageStepsController::CONTINUE %> />
        <% end %>
        <%= f.button Management::PageStepsController::CONTINUE,
          id: 'testing',
          type: continue_button_type(f.object.id, local_assigns[:always_save], local_assigns[:never_save], local_assigns[:publish]),
          value: Management::PageStepsController::CONTINUE,
          class: "c-button #{(f.object.id || local_assigns[:always_save]) ? ' -outline -dark-text' : 'js-submit'}",
          onclick: "document.getElementById('submit_form').submit()" %>
      <% end %>

      <% if save_button?(f.object.id, local_assigns[:always_save], local_assigns[:never_save]) %>
        <% if local_assigns[:publish] %>
          <input type="hidden" name="button" value=<%= Management::PageStepsController::SAVE %> />
        <% end %>
        <%= f.button Management::PageStepsController::SAVE,
          value: Management::PageStepsController::SAVE,
          type: local_assigns[:publish] ? 'button' : 'submit',
          class: "c-button #{local_assigns[:publish] ? '-outline -dark-text' : 'js-submit'}",
          onclick: local_assigns[:publish] ? "document.getElementById('submit_form').submit()" : ""%>
      <% end %>

      <% if local_assigns[:publish] %>
        <% if @page.enabled %>
          <%= f.button Management::PageStepsController::UNPUBLISH,
            value: Management::PageStepsController::UNPUBLISH,
            type: 'submit',
            class: 'c-button js-submit' %>
        <% else %>
          <%= f.button Management::PageStepsController::PUBLISH,
            value: Management::PageStepsController::PUBLISH,
            type: 'submit',
            class: 'c-button js-submit' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
