<%= form_for([:admin, user], :html => { :class =>'c-form-basic' }) do |f| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="container-input">
      <%= f.label :name, class: '' %>
      <div class="col-sm-10"><%= f.text_field :name,placeholder: 'name', class: 'c-input' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :email, class: '' %>
      <div class="col-sm-10"><%= f.text_field :email,placeholder: 'email', class: 'c-input' %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :password, class: '' %>
      <div class="col-sm-10"><%= f.password_field :password,placeholder: '*******', class: 'c-input', autocomplete: "off" %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :password_confirmation, 'Confirm new password', class: '' %>
      <div class="col-sm-10"><%= f.password_field :password_confirmation,placeholder: '*******', class: 'c-input', autocomplete: "off" %></div>
    </fieldset>

    <fieldset class="container-input">
      <%= f.label :sites, class: '' %>
      <div>
        <%= f.collection_select :site_ids, Site.all, :id, :name, {}, {:class => 'c-input', :multiple => true} %>
      </div>
    </fieldset>

    <div class="footer-form">
      <%= f.submit class: 'c-button -primary' %>
      <%= link_to 'Show', admin_user_path(user), class: 'c-button -primary' unless user.id.nil? %>
      <%= link_to 'Back', admin_users_path, class: 'c-button -secondary' %>
    </div>
<% end %>
