<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <h1>Users</h1>
      <ul class="action-buttons">
        <li><%= link_to 'New user', new_admin_user_path, class: 'c-button' %></li>
      </ul>
    </div>
  </div>
<% end %>

<div class="js-tabs"></div>

<div class="l-user-list">
  <div class="wrapper">
    <table class="c-table">
      <tr class="header">
        <th>Name</th>
        <th>Email</th>
        <th colspan="2"></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(user), class: 'c-table-action-button -edit', title: 'Edit' %></td>
          <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'c-table-action-button -delete', title: 'Delete' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
