<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @site.domain %>
</p>

<p>
  <strong>Template:</strong>
  <%= @site.template %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
