<div>
  Connector Type
  <select id="connector" name="dataset[connector]" data-placeholder="Choose a Connector" class="js-connector">
    {{#each connectors}}
      {{#if_eq this.connector ../selected.connector}}
          <option value="{{this.connector}}" selected="selected">{{this.connector}}</option>
      {{else}}
          <option value="{{this.connector}}">{{this.connector}}</option>
      {{/if_eq}}
    {{/each}}
  </select>
</div>

<div>
  Connector Provider
  <select id="provider" data-placeholder="Choose a provider" class="js-provider" disabled="disabled">
    {{#each connectors}}
      {{#if_eq this.provider ../selected.provider}}
        <option value="{{provider}}" selected="selected">{{provider}}</option>
      {{else}}
        <option value="{{provider}}">{{provider}}</option>
      {{/if_eq}}
    {{/each}}
  </select>
  <input type="hidden" name="dataset[provider]" value="{{selected.provider}}">
</div>

<div>
  Connector Type
  <select id="type" data-placeholder="Choose a type" class="js-type" disabled="disabled">
    {{#each connectors}}
      {{#if_eq this.type ../selected.type}}
        <option value="{{type}}" selected="selected">{{type}}</option>
      {{else}}
        <option value="{{type}}">{{type}}</option>
      {{/if_eq}}
    {{/each}}
  </select>
  <input type="hidden" name="dataset[type]" value="{{selected.type}}">
</div>

<div>
  URL
  <input id="url" name="dataset[connector_url]" class="js-url">
</div>
