<div class="inputs-container">
  <div>
    <label for="connector">Connector:</label>
    <select id="connector" name="dataset[connector]" data-placeholder="Choose a connector" class="js-connector">
      <option></option>
      {{#each connectors}}
        <option value="{{connector}}" {{#if_eq connector ../selected.connector}}selected="selected"{{/if_eq}}>{{this.connector}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <label for="provider">Connector provider:</label>
    <select id="provider" class="js-provider" data-placeholder="-"  disabled="disabled">
      <option></option>
      {{#each connectors}}
        <option value="{{provider}}" {{#if_eq provider ../selected.provider}}selected="selected"{{/if_eq}}>{{provider}}</option>
      {{/each}}
    </select>
    <input type="hidden" name="dataset[provider]" value="{{selected.provider}}">
  </div>

  <div>
    <label for="type">Connector type:</label>
    <select id="type" class="js-type" data-placeholder="-" disabled="disabled">
      <option></option>
      {{#each connectors}}
        <option value="{{type}}" {{#if_eq type ../selected.type}}selected="selected"{{/if_eq}}>{{type}}</option>
      {{/each}}
    </select>
    <input type="hidden" name="dataset[type]" value="{{selected.type}}">
  </div>

  {{#if_eq uploaderDisabled false}}
  <div>
    <label for="url_uploader">URL/File Uploader</label>
    <select id="url_uploader" data-placeholder="Choose the csv" class="js-uploader">
      <option></option>
      <option value="url" {{#if_eq fileUploader 'url'}}selected="selected" {{/if_eq}}>URL</option>
      <option value="file" {{#if_eq fileUploader 'file'}}selected="selected" {{/if_eq}}>File Upload</option>
    </select>
  </div>
  {{/if_eq}}

  <div class="input-container{{#if_eq fileUploader 'file'}}--disabled{{/if_eq}}">
    <label for="url">URL:</label>
    <input id="url"
           name="dataset[connector_url]"
           class="js-url"
           placeholder="Dataset URL"
           value="{{selected.connector_url}}" />
  </div>

  <div class="input-container{{#if dataPathDisabled}}--disabled{{/if}}">
    <label for="data_path">Data path:</label>
    <input id="data_path" name="dataset[data_path]" class="js-data-path" placeholder="JSON data path e.g. /results" {{#if dataPathDisabled}}disabled="disabled"{{/if}}/>
  </div>

  <div class="input-container{{#ne fileUploader 'file'}}--disabled{{/ne}}">
    <label for="csv_uploader">CSV Uploader</label>
    <input type="file" name="csv_uploader" id="csv_uploader" class="js-data-path" accept="text/csv">
  </div>
</div>
