{{#*inline "item"}}
  <ul {{#if firstCall}}class="js-tree-root"{{/if}}>
    {{#each pages}}
      <li
        class="js-draggable {{#if readonly}}js-readonly{{/if}}"
        {{#each this}}
          {{#if_eq @key 'id'}}
            id="page-{{this}}"
          {{else}}
            {{#if_eq @key 'children'}}
            {{else}}
              {{#if_eq this null}}
              {{else}}
                data-{{@key}}="{{this}}"
              {{/if_eq}}
            {{/if_eq}}
          {{/if_eq}}
        {{/each}}
      >
        {{> pageTemplate visible=../visible}}
        {{#if children}}
          {{#unless ../visible}}
            {{> item pages=children visible=false firstCall=false hasAdditionalPage=../hasAdditionalPage}}
          {{else}}
            {{> item pages=children visible=enabled firstCall=false hasAdditionalPage=../hasAdditionalPage}}
          {{/unless}}
        {{/if}}
      </li>
    {{/each}}
    {{#unless firstCall}}
      {{#if hasAdditionalPage}}
        <li class="js-not-nestable js-last-node mjs-nestedSortable-no-nesting">
          {{> additionalPageTemplate}}
        </li>
      {{/if}}
    {{/unless}}
  </ul>
{{/inline}}

<div class="c-tree-structure {{#if readOnly}}-readonly{{/if}}">
  {{> item pages=pages firstCall=true visible=true hasAdditionalPage=hasAdditionalPage}}
</div>
