{{#*inline "item"}}
  <ul {{#if firstCall}}class="js-tree-root"{{/if}}>
    {{#each pages}}
      <li class="js-draggable" id="page-{{id}}" data-name="{{name}}" data-parent="{{parent_id}}"
          data-position="{{position}}" data-enabled="{{enabled}}" data-type="{{type}}">
        <div class="page {{#unless enabled}} -disabled {{/unless}} js-handle">
          <span>{{name}}</span>
          <ul class="action-buttons">
            {{#if enabled}}
                <li><a href="" class="view-button js-disable">Disable</a></li>
            {{else}}
                <li><a href="" class="view-button-slashed js-enable">Enable</a></li>
            {{/if}}
            <li><a href="" class="edit-button">Edit</a></li>
            <li><a href="" class="delete-button">Delete</a></li>
          </ul>
        </div>
        {{#if children}}
          {{> item pages=children firstCall=false}}
        {{/if}}
      </li>
    {{/each}}
    {{#unless firstCall}}
      <li class="js-not-nestable">
        <button type="button" class="add-page-button">Add page</button>
      </li>
    {{/unless}}
  </ul>
{{/inline}}

<div class="c-tree-structure">
      {{> item pages=pages firstCall=true}}
</div>
