<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= ForestAtlasLandscapeCms::Application.config.site_name %> - Site Administration</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container-fluid">
  <%= render 'admin/header' %>
  <%= render 'shared/messages' %>
  <%= yield %>
</div>
</body>
</html>
