<!DOCTYPE html>
<html>
<head>
  <title><%= ForestAtlasLandscapeCms::Application.config.site_name %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'front/application-theme-fa', media: 'all', 'data-turbolinks-track': 'reload' if @site_page.site_template.name.eql? 'Forest Atlas' %>
  <%= stylesheet_link_tag 'front/application-theme-lsa', media: 'all', 'data-turbolinks-track': 'reload' if @site_page.site_template.name.eql? 'Landscape Application' %>
  <%= yield :head %>
</head>

<body <%= yield :body_class %>>
  <%= render 'front/menu' %>
  <%= render 'front/icons' %>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
