<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= ForestAtlasLandscapeCms::Application.config.site_name %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="<%= @favico %>" />
  <link rel="apple-touch-icon" href="<%= @favico %>">
  <link rel="stylesheet" href="https://cdn.quilljs.com/1.1.6/quill.core.css">

  <%= stylesheet_link_tag 'front/application-theme-fa', media: 'all', 'data-turbolinks-track': 'reload' if (Rails.env.development? && @site_page.site_template.name.eql?('Forest Atlas')) %>
  <%= stylesheet_link_tag 'front/application-theme-lsa', media: 'all', 'data-turbolinks-track': 'reload' if (Rails.env.development? && @site_page.site_template.name.eql?('Landscape Application')) %>
  <%= stylesheet_link_tag "front/sites/#{@site_page.site.id}.css", media: 'all', 'data-turbolinks-track': 'reload' unless Rails.env.development?%>

  <%= favicon_link_tag unless @favico %>
  <%= yield :head %>
  <script src="//cdn.quilljs.com/1.1.6/quill.js" type="text/javascript"></script>
  <script>
    window.template = '<%= (@site_page.site_template.name.eql? 'Forest Atlas') ? 'fa' : 'lsa' %>';
  </script>
  <script type="text/javascript">
    window.liveSettings = {
      api_key: 'a81c84348fa34de097781e4017e1a944',
      detectlang: function () {
        var match = location.search.match(/\?(?:.*)?l=([a-z]{2})/);
        return (match && match.length) > 1 ? match[1]: 'en';
      }
    };
  </script>
  <%= render 'front/google_analytics' %>

  <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :external_js %>
</head>

<body <%= yield :body_class %>>
  <%= render 'front/menu' %>
  <%= render 'front/icons' %>
  <%= yield %>
</body>
</html>
