<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= ForestAtlasLandscapeCms::Application.config.site_name %> - Content Management</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'management/application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render 'management/header' %>
  <%= render 'shared/messages' %>
  <%= yield %>
  <%= javascript_include_tag 'management', 'data-turbolinks-track': 'reload' %>
</body>
</html>
