<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= ForestAtlasLandscapeCms::Application.config.site_name %> - Content Management</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdn.quilljs.com/1.2.0/quill.bubble.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.2/codemirror.min.css">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <%= stylesheet_link_tag 'management/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="//cdn.quilljs.com/1.2.0/quill.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.2/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.2/mode/javascript/javascript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.2/mode/xml/xml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/edit/closetag.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pica/2.0.8/pica.min.js" type="text/javascript"></script>
  <%= javascript_include_tag 'management', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag %>
</head>
<body <%= yield :body_class %>>
<%= Gon::Base.render_data %>
  <%= render 'management/header' %>
  <%= render 'shared/messages' %>
  <%= render 'front/icons' %>
  <%= yield :extended_header %>
  <%= yield %>
</body>
</html>
