<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= ForestAtlasLandscapeCms::Application.config.site_name %> - Content Management</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.26.0/jsoneditor.css" rel="stylesheet" />
  <%= stylesheet_link_tag 'management/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.26.0/jsoneditor.js"></script>
  <script src="https://unpkg.com/tippy.js@3.3.0/dist/tippy.all.min.js" defer></script>
  <%= javascript_include_tag 'management', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag %>
</head>
<body <%= yield :body_class %>>
<%= Gon::Base.render_data %>
  <%= render 'management/header' %>
  <%= render 'shared/messages' %>
  <%= render 'front/icons' %>
  <%= yield :extended_header %>
  <%= yield %>
</body>
</html>
