<h1>Sites</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.site_template.name %></td>
        <td><%= link_to 'Edit', edit_admin_site_site_step_path(site_slug: site.slug, id: :name) %></td>
        <td><%= link_to 'Delete', admin_site_path(site.slug), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_admin_site_step_path , class: 'btn btn-primary' %>
