<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Sites</h1>
      </div>
    </div>
  </div>
<% end %>

<div class="js-tabs"></div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.site_template.name %></td>
        <td><%= link_to 'Show', admin_site_path(site) %></td>
        <td><%= link_to 'Edit', edit_admin_site_path(site) %></td>
        <td><%= link_to 'Destroy', admin_site_path(site), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_admin_site_path, class: 'btn btn-primary' %>
